@import 'variables'
body
	font-size 15px
	font-family $font_regular
a
	outline 0px !important
	transition all 1s
	//color #e81a24
p
	font-family $font_regular
	color $color_b

h1, h2, h3, h4, h5
	letter-spacing: -1px

h1
	font-size $size_h1
h2	
	font-size $size_h2

img
	width auto
	height auto
ul
	list-style none
	padding 0
	margin 0
.btn
	-moz-user-select: none;
	background-image: none;
	border: medium none
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color $color_int
	-webkit-appearance: none !important
	transition all 0.7s ease
	@include border-radius(0)
	
input[type="text"], input[type="submit"], input[type="button"],input[type="password"], input[type="email"]
	-webkit-appearance: none !important
	@include border-radius(0)
	border-radius: 4px 4px 4px 4px !important
	-moz-border-radius: 4px 4px 4px 4px !important
	-webkit-border-radius: 4px 4px 4px 4px !important


.btn:focus, .btn:active:focus, .btn.active:focus
	outline: thin dotted;
	outline-offset: -2px;

.btn:hover, .btn:focus
	color: #fff;
	text-decoration: none;


.btn-common
	color #333333
	background-color #F8D848
	border-color #F8D848

.btn-common:hover,.btn-common:focus,.btn-common:active,.btn-common.active,.open .dropdown-toggle.btn-common
	color #333333
	background-color #F7D32F
	border-color #F8D848
	border-color:#E1BB09

.btn-common:active,.btn-common.active,.open .dropdown-toggle.btn-common
	background-image none

.btn-common.disabled,.btn-common[disabled],fieldset[disabled] .btn-common,.btn-common.disabled:hover,.btn-common[disabled]:hover,fieldset[disabled] .btn-common:hover,.btn-common.disabled:focus,.btn-common[disabled]:focus,fieldset[disabled] .btn-common:focus,.btn-common.disabled:active,.btn-common[disabled]:active,fieldset[disabled] .btn-common:active,.btn-common.disabled.active,.btn-common[disabled].active,fieldset[disabled] .btn-common.active
	background-color #F8D848
	border-color #F8D848
.btn-common .badge
	color #F8D848
	background-color #333333
.btn-common-alt
	color #FFFFFF
	background-color #333333
	border-color #333333
.btn-common-alt:active,.btn-common-alt.active,.open .dropdown-toggle.btn-common-alt
	background-image none
.btn-common-alt.disabled,.btn-common-alt[disabled],fieldset[disabled] .btn-common-alt,.btn-common-alt.disabled:hover,.btn-common-alt[disabled]:hover,fieldset[disabled] .btn-common-alt:hover,.btn-common-alt.disabled:focus,.btn-common-alt[disabled]:focus,fieldset[disabled] .btn-common-alt:focus,.btn-common-alt.disabled:active,.btn-common-alt[disabled]:active,fieldset[disabled] .btn-common-alt:active,.btn-common-alt.disabled.active,.btn-common-alt[disabled].active,fieldset[disabled] .btn-common-alt.active
	background-color #333333
	border-color #333333
.btn-common-alt .badge
	color #333333
	background-color #FFFFFF
.btn-action
	color #FFFFFF
	background-color $color_p
	border-color $color_p
	font-size 16px
	font-weight normal
	padding-left 20px
	padding-right 20px
	-webkit-appearance: none !important
	@include border-radius(0)

.btn-action:hover,.btn-action:focus,.btn-action:active,.btn-action.active,.open .dropdown-toggle.btn-action
	color #FFFFFF
	background-color $color_s
	border-color $color_s
.btn-action:active,.btn-action.active,.open .dropdown-toggle.btn-action
	background-image none
.btn-action.disabled,.btn-action[disabled],fieldset[disabled] .btn-action,.btn-action.disabled:hover,.btn-action[disabled]:hover,fieldset[disabled] .btn-action:hover,.btn-action.disabled:focus,.btn-action[disabled]:focus,fieldset[disabled] .btn-action:focus,.btn-action.disabled:active,.btn-action[disabled]:active,fieldset[disabled] .btn-action:active,.btn-action.disabled.active,.btn-action[disabled].active,fieldset[disabled] .btn-action.active
	background-color #181914
	border-color #181914
.btn-action .badge
	color $color_s
	background-color #FFFFFF
.btn-action_lg
	color #FFFFFF
	background-color $color_p
	border-color $color_p
	font-size 22px
	font-weight normal
	padding 10px 30px
	-webkit-appearance: none !important
	@include border-radius(0)

.btn-action_lg:hover,.btn-action_lg:focus,.btn-action_lg:active,.btn-action_lg.active,.open .dropdown-toggle.btn-action_lg
	color #FFFFFF
	background-color $color_s
	border-color $color_s
.btn-action_lg:active,.btn-action_lg.active,.open .dropdown-toggle.btn-action_lg
	background-image none
.btn-action_lg.disabled,.btn-action_lg[disabled],fieldset[disabled] .btn-action_lg,.btn-action_lg.disabled:hover,.btn-action_lg[disabled]:hover,fieldset[disabled] .btn-action_lg:hover,.btn-action_lg.disabled:focus,.btn-action_lg[disabled]:focus,fieldset[disabled] .btn-action_lg:focus,.btn-action_lg.disabled:active,.btn-action_lg[disabled]:active,fieldset[disabled] .btn-action_lg:active,.btn-action_lg.disabled.active,.btn-action_lg[disabled].active,fieldset[disabled] .btn-action_lg.active
	background-color #181914
	border-color #181914
.btn-action_lg .badge
	color $color_s
	background-color #FFFFFF
.btn-default-alt
	color #333
	background-color transparent
	border-color #E6E6E6
.btn-default-alt:hover,.btn-default-alt:focus,.btn-default-alt:active,.btn-default-alt.active,.open .dropdown-toggle.btn-default-alt
	color #333
	background-color #D9D9D9
	border-color #E6E6E6
.btn-default-alt:active,.btn-default-alt.active,.open .dropdown-toggle.btn-default-alt
	background-image none
.btn-default-alt.disabled,.btn-default-alt[disabled],fieldset[disabled] .btn-default-alt,.btn-default-alt.disabled:hover,.btn-default-alt[disabled]:hover,fieldset[disabled] .btn-default-alt:hover,.btn-default-alt.disabled:focus,.btn-default-alt[disabled]:focus,fieldset[disabled] .btn-default-alt:focus,.btn-default-alt.disabled:active,.btn-default-alt[disabled]:active,fieldset[disabled] .btn-default-alt:active,.btn-default-alt.disabled.active,.btn-default-alt[disabled].active,fieldset[disabled] .btn-default-alt.active
	background-color #E6E6E6
	border-color #E6E6E6
.btn-default-alt .badge
	color #E6E6E6
	background-color #333
.btn-facebook
	color #FFFFFF
	background-color #3A5799
	border-color #2c4274
.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook
	color #FFFFFF
	background-color #334C87
	border-color #2c4274
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook
	background-image none
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active
	background-color #3A5799
	border-color #2c4274
.btn-facebook .badge
	color #3A5799
	background-color #FFFFFF
.btn-google
	color #FFFFFF
	background-color #D03F2A
	border-color #C23A27
.btn-google:hover,.btn-google:focus,.btn-google:active,.btn-google.active,.open .dropdown-toggle.btn-google
	color #FFFFFF
	background-color #BB3926
	border-color #a63221
.btn-google:active,.btn-google.active,.open .dropdown-toggle.btn-google
	background-image none
.btn-google.disabled,.btn-google[disabled],fieldset[disabled] .btn-google,.btn-google.disabled:hover,.btn-google[disabled]:hover,fieldset[disabled] .btn-google:hover,.btn-google.disabled:focus,.btn-google[disabled]:focus,fieldset[disabled] .btn-google:focus,.btn-google.disabled:active,.btn-google[disabled]:active,fieldset[disabled] .btn-google:active,.btn-google.disabled.active,.btn-google[disabled].active,fieldset[disabled] .btn-google.active
	background-color #D03F2A
	border-color #a63221
.btn-google .badge
	color #D03F2A
	background-color #FFFFFF

.btn-blue
	color #FFFFFF
	background-color #0069c3
	border-color #0069c3
	padding 8px 16px
.btn-blue:hover,.btn-blue:focus,.btn-blue:active,.btn-blue.active,.open .dropdown-toggle.btn-blue
	color #FFFFFF
	filter saturate(70%)
  	-webkit-filter saturate(70%)
.btn-blue:active,.btn-blue.active,.open .dropdown-toggle.btn-blue
	background-image none
.btn-blue.disabled,.btn-blue[disabled],fieldset[disabled] .btn-blue,.btn-blue.disabled:hover,.btn-blue[disabled]:hover,fieldset[disabled] .btn-blue:hover,.btn-blue.disabled:focus,.btn-blue[disabled]:focus,fieldset[disabled] .btn-blue:focus,.btn-blue.disabled:active,.btn-blue[disabled]:active,fieldset[disabled] .btn-blue:active,.btn-blue.disabled.active,.btn-blue[disabled].active,fieldset[disabled] .btn-blue.active
	opacity 0.8
.btn-blue .badge
	color #0069c3
	background-color #FFFFFF


.btn-blue_alt
	color #FFFFFF
	background transparent
	border 1px solid $color_azul
	padding 8px 16px
.btn-blue_alt:hover,.btn-blue_alt:focus,.btn-blue_alt:active,.btn-blue_alt.active,.open .dropdown-toggle.btn-blue_alt
	color #FFFFFF
	background $color_azul
.btn-blue_alt:active,.btn-blue_alt.active,.open .dropdown-toggle.btn-blue_alt
	background-image none
.btn-blue_alt.disabled,.btn-blue_alt[disabled],fieldset[disabled] .btn-blue_alt,.btn-blue_alt.disabled:hover,.btn-blue_alt[disabled]:hover,fieldset[disabled] .btn-blue_alt:hover,.btn-blue_alt.disabled:focus,.btn-blue_alt[disabled]:focus,fieldset[disabled] .btn-blue_alt:focus,.btn-blue_alt.disabled:active,.btn-blue_alt[disabled]:active,fieldset[disabled] .btn-blue_alt:active,.btn-blue_alt.disabled.active,.btn-blue_alt[disabled].active,fieldset[disabled] .btn-blue_alt.active
	opacity 0.8
.btn-blue_alt .badge
	color $color_azul
	background-color #FFFFFF


.sizechart
	color #fff
	margin-left -10px
	&:hover
		background #000
		color #999
.article__meta
		color #999
.article__meta
	display none !important
.share-social
	.share-button
		display inline-block
		margin 15px 5px
		.share-button-new
			border-radius: 3px;
			padding: 8px 14px;
			font-size: 15px;
			color #fff
		.share-button-facebook
			background-color #3b5998
		.share-button-twitter
			background-color #55acee
		.share-button-gplus
			background-color #dc4e41
		.share-button-whatsapp
			padding 8px 14px
			background-color #43d854

/*******BANNER HOME***************/
.conten-ban
	&>.row
		margin 0

.conten-ban
	.carousel
		margin-left -10px !important
		margin-right -10px !important
		margin-bottom 45px
		.carousel-inner
			.btn
				padding 10px 45px !important
				margin 30px 20px 0 0 !important
            .bnr_cap1
				left 10%
				right 10%
				text-align left
				top 15%
				bottom auto
				width 32%
				text-shadow none
				h3
					font-family 'OpenSans-Bold'
					font-size 40px
					margin 0 0 10px
				p
					font-size 18px
					font-family 'OpenSans-Semibold'
				.bnr_openstore
					background #1c1c1c
					border 2px solid #1c1c1c
					&:hover
						background #000
						border 2px solid #d1d821
				.bnr_contact
					background transparent
					border 2px solid #fff
					color #fff
					&:hover
						background #fff
						border 2px solid #fff
						color #a6b739 !important
			.bnr_cap2
				left auto
				right 2%
				text-align left
				top 21%
				bottom auto
				width 34%
				text-shadow none
				h3
					font-family 'OpenSans-Bold'
					font-size 40px
					margin 0 0 10px
				p
					font-size 18px
					font-family 'OpenSans-Semibold'
					color #fff
				.bnr_openstore
					background #a6b739
					border 2px solid #d1d821
					&:hover
						background #d1d821
						border 2px solid #d1d821
						color #000
				.bnr_contact
					background transparent
					border 2px solid #fff
					color #fff
					&:hover
						background #fff
						border 2px solid #fff
						color #a6b739 !important
			.bnr_aboutus
				left 10%
				padding-bottom 30px
				right 10%
				top 20%
				bottom auto
				padding-top 0
				text-shadow none
				h1
					font-size 53px
					letter-spacing 1px
					line-height 80px
					margin-top 0

.carousel-indicators
	bottom 10px
	float right
	left auto
	list-style outside none none
	margin-left -30%
	padding-left 0
	position absolute
	right 2%
	text-align center
	width auto
	z-index 15
	.active
		background-color #000
		border 1px solid #000
	li
		background-color #D2D2D2
		border 1px solid #D2D2D2


/*WIDGET DE BANNER CAROUSEL  */
.banner_principal
	width 100%
	margin 15px 0 30px 0
	display inline-block
	width 100%
.slide
	img
		width 100% !important
		height auto !important


#content .about_section2, .content .about_section2
	padding 0 13% 50px

#content .about_section2 #logo a img, .content .about_section2 #logo a img
	display inherit
	margin 10px 0 35px

#content .about_section2 p, .content .about_section2 p
	line-height 22px

#content .about_section2 a, .content .about_section2 a
	color #0069c3


/*WIDGET DE BANNER CAROUSEL CONTROLS */

.carousel-control
	width: 8%
.carousel {
	.carousel-inner {
		.item {
			transition-property: opacity;
		}
		.item,
		.active.left,
		.active.right {
			opacity: 0;
		}
		.active,
		.next.left,
		.prev.right {
			opacity: 1;
		}

		.next,
		.prev,
		.active.left,
		.active.right {
			left: 0;
			transform: translate3d(0, 0, 0);
		}
	}
	.carousel-control {
	z-index: 2;
	}
}

.carousel
	.carousel-control.left
		background-image none;
		background transparent
	.right
		background-image none;
		background transparent


.bnr_controls
	margin 10px 0
	display inline-block
	width 100%
	.carousel-control.left
		background-image none;
		background-color transparent;
		.glyphicon-chevron-left
			background #ffffff
			border-radius 100%

	.carousel-control.right
		background-image none;
		background-color transparent;
		.glyphicon-chevron-right
			background #ffffff
			border-radius 100%

	.carousel-control
		opacity 0.6
		width 6%
		.glyphicon-chevron-left, .glyphicon-chevron-right
			width 45px
			height 45px
			padding 7px 0px 0 0
			color #000
			text-shadow none


/*WIDGET DE 1 SECCION*/
.banner_one_section
	.bnr_one
		margin-bottom 10px
		margin-top 10px

/*WIDGET DE 2 SECCIONES*/
.banner_three_sections
	margin 25px 0
	.bnr_one
		margin-right 10px
		margin-bottom 10px
		margin-top 5px
	.bnr_two
		margin-right 5px
		margin-bottom 10px
		margin-left 5px
		margin-top 5px
	.bnr_three
		margin-left 10px
		margin-bottom 10px
		margin-top 5px

/*WIDGET DE 2 SECCIONES*/
.banner_two_sections
	.bnr_one
		margin-right 10px
		margin-bottom 5px
		margin-top 5px
	.bnr_two
		// margin-right 5px
		margin-left 5px
		margin-bottom 10px
		margin-top 5px

/*WIDGET DE 2 SECCIONES*/
.banner_four_sections

	margin-top 15px
	margin-bottom 20px
	display inline-block
	width 100%
	img
		display inline-block


/*WIDGTE SLIDER + VIDEO*/
.slider_video
	margin 10px 0
	display inline-block
	width 100%
	.slider_carousel
		margin-right 10px
		.img_slider
			position absolute
			left 0
			top 0
		.bnr_slider_box
			width 80%
			float right

			.carousel-control
				width 30px

			.carousel-indicators
				display none

			.carousel-control.left
				background-image none;
				background-color transparent;
				left auto
				right 35px
			.carousel-control.right
				background-image none;
				background-color transparent;

			.glyphicon-chevron-right
				right 5px
				margin-top 0px
				margin-left 0px
				top 3%

			.glyphicon-chevron-left
				right 5px
				margin-top 0px
				margin-left 0px
				top 3%
				left 0


	.video
		margin-left 10px


/****BANNER CAROUSEL FADE****/
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}





.navbar-nav > li > .dropdown-menu
	margin-top 2px
	padding 0px
	height auto

.ico-opps
	background url(../../images/common/oops.png) no-repeat 0 10px
	width 80px
	height 75px
	display inline-block
	margin 0px 30px

/********MENU MOBILE PANEL BOOTSTRAP***********/
/*Menu alternos IE9*/
#menui9_ropa, #menui9_acc
	display none

/**/
.dropdown
	position static
	.dropdown-menu
		min-width:100%;
		width:100%;
		left:0;
		top:auto;
		background: #000;
		position:absolute;
		position: -ms-page;
		box-shadow:none;
		border-radius:0;
		border:none;
		//display block
		ol
			padding 0
			margin 0
			li
				width auto
				float left
				margin 8px 0 0px 0px
				background transparent
				font-size 14px
				font-family $fonttext_02
				padding 0px 5% 0 0
				text-transform capitalize
				color #fff
				list-style none
		strong
			width auto
			float left
			margin 8px 0 0px 0px
			background transparent
			font-size 14px
			font-family $fonttext_01
			padding 0px
			text-transform uppercase
			a
				color #e81a24
				&:hover
					color #d21a1a
					text-decoration none
		li
			width 100%
			float left
			margin 8px 0 0px 0px
			background transparent
			font-size 14px
			font-family $fonttext_01
			padding 0px
			text-transform capitalize
			a
				color #fff
				padding 3px 0px
				text-decoration none
				&:hover
					color #ccc
					text-decoration none
		span
			border-right 1px solid #000000
			float left
			margin 11px 15px
			width 1px
			height 18px

		.menu-full
			padding 10px 0 30px 0

	/*.ie9
		.dropdown-menu
			position: relative; /* Only works in IE10*/
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
		background-color transparent
		color $color_s

.dropdown-men-i9
	min-width:100%;
	width:100%;
	left:0;
	top:auto;
	background-image:url(../../images/common/back_header_menu.jpg);
	position:absolute;
	position: -ms-page;
	box-shadow:none;
	border-radius:0;
	border:none;
	display block
	ul
		list-style none
	li
		list-style none
		width auto
		float left
		margin 8px 0 0px 0px
		background transparent
		font-size 17px
		font-family $fonttext_f1
		padding 0px
		text-transform uppercase
		a
			color #212121
			padding 3px 0px
			text-decoration none

	span
		border-right 1px solid #000000
		float left
		margin 11px 15px
		width 1px
		height 18px


/*@media screen and (min-width:0\0)
	.dropdown
		.dropdown-menu
			position -ms-page; /*Only works in IE10*/

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
	background-color transparent
	color #555




/**HEADER**/
header
	z-index 1500
	background #fff
	min-height 65px
	display flex
	border-bottom 1px solid #ddd
	padding 0 10px
	position fixed
	width 100%
	justify-content space-between
	align-items center
	top 0
	.top_slogan
		background #262729
		display inline-block
		margin 0
		width 100%
		padding 4px 0 0 0
		min-height 30px
		.centralphone
			i
				margin 2px 5px 0 0
			a
				color #ddd

		.promotion
			display block
			width 100%
			text-align center
			font-size 13px
			margin 0px
			clear both
			font-weight normal
			font-family 'Arial'
			padding 0px 0
			text-transform none
			font-family $fonttext_f2
			span
				padding 0px
				color #f0f0f0

	.login
		font-family $fonttext_f2
		margin-top 1px
		display inline-block
		margin-right 20px
		a
			text-decoration none
			float right
			&:hover
				text-decoration none
				color #fff
			span
				color: #ccc
			i
				float right
				color: #ccc
		.logout
			color: #ccc
			font-size: 13px
			font-weight: normal
			float right
			padding 0 15px 0 0
			a
				&:hover
					color #fff
			span
				color: #ccc
				padding 0 5px 0 0
			i
				float right
				color: #ccc
			b
				color: #ccc

		.glyphicon-user
			width: 20px;
			height: 20px;
			margin-left: 0px;
			vertical-align: middle !important;
			border-radius: 50%;
			padding 1px 0px 0 0;

	#logo
		.visible_descktop
			display block
		.visible_mobile
			display none
		img
			width auto !important
			height auto !important

	.menumyaccount
		font-family 'Arial'
		margin 33px 0 0 0
		display inline-block
		border-right 1px solid #ffffff
		width 100%
		text-align right
		a
			color #fff
			text-decoration none
			font-size 11px
			text-align left
			line-height 12px
			display inline-block
			.ico-user
				background url(../../images/common/sprite.png) no-repeat -8px -5px
				width 19px
				height 20px
				float left
				margin 2px 10px 0 0
			span
				float left
				width 40px
				margin 0 20px 0 0
		b
			border-left 1px solid #fff
			color #fff
			display inline-block
			font-size 11px
			font-weight normal
			line-height 14px
			padding-left 25px
			text-align left
			text-decoration none
			width 80px
			span
				display block
			b
				display none

	.menushopcart
		text-align right
		font-family $fonttext_f1
		font-size 24px
		font-weight normal
		margin 17px 0 0 0
		height 36px
		display block
		width 100%
		i
			float left

		a
			color $color_s
			margin-top 0px
			display block
			font-size 22px
			line-height 30px
			font-family $fonttext_f3
			letter-spacing -3px
			text-align center


		.ico-cart
			background url(../../images/common/sprite.png) no-repeat -45px -5px
			width 26px
			height 20px
			float left
			margin 3px 0px 0 0

	.header_sec_search
		display inline-block
		height auto
		width 100%
		font-family $fonttext_f2
		margin 18px 0 0 0
		text-align right
		.search_wrapper
			width 350px
			margin -6px 0 0 -120px
			background #fff
			.search_box
				border 1px solid #474747
				float left
				height 35px
				width 94%
				.input_search
					width 86%
					right 0px
					height 25px
					border none
					padding-left 13px
					color $color_s
					border none
					font-weight 100
					border-radius 0px
					margin 3px 0 0 0
					font-size 16px
					line-height 18px
					float left
					text-align left
					font-family $fonttext_f1
				.button
					margin 5px 0 0 0
					background url(../../images/common/search.jpg) no-repeat center 0
					width 42px
					height 23px
					color  $color_s
					cursor pointer
					border none
					font-size 22px
					border-radius none
					float left
					text-align center
					&:hover
						//background: $color_t

			.close_popup
				width 6%
				color $color_p
				font-size 25px
				cursor pointer

		.t_search
			.icon_t_search
				background url(../../images/common/search.jpg) no-repeat 0 0
				width 21px
				height 23px
				display inline-block
				cursor pointer
				margin 0 10px

	.visible_search_mobile
		display none

	.menuhome
		.navbar-default
			background: #ffffff
			border none
		#nav_menu  
			width: 100%;
			z-index: 900;
			display flex
			-webkit-display flex
			justify-content: space-between
			align-items center
			height 65px
			list-style: outside none none
			padding 0px
			li
				margin 0 20px
		#nav_menu > li > a
			font-size 14px
			text-transform uppercase
			color $color_s
			margin 0px
			display block
			text-decoration none
			&:hover
				color $color_p

		/*BTN COMENZAR AHORA*/
		#nav_menu
			.nav-cotiza
				display flex
				justify-content center
				align-items center
				margin-right 0
				text-align center
				.btn-start-now	
					background #a6b739
					border-radius 4px
					color #fff
					padding 7px 20px
					&:hover
						background $btn_c_hover
			.nav-signin
				margin-left 10px
				text-align center
				.btn-default-alt
					background #f2f2f2
					border 1px solid #f2f2f2
					border-radius 5px
					padding 6px 15px
					margin 0  5px
					&:hover
						background $color_s
						color #fff
			.nav_telf
				.ico-telf
					background url(../../images/common/ico-telf.png)
					background-repeat no-repeat
					width 30px
					height 26px
					float left
					margin 0 10px 0 0
				
				b
					display inline !important
					color $color_s !important

			.nav_mail

				.ico-mail
					background url(../../images/common/ico-mail.png)
					background-repeat no-repeat
					width 30px
					height 26px
					float left
					margin 0 10px 0 0
				a
					text-transform none
	


		#nav_menu > li > a > i
			color $color_s
			font-size 10px
			margin 5px 0 0 12px
			float right

		#nav_menu ul.subs
			background $color_p
			border-top 1px solid #34A34C
			padding 15px 1% 4px
		#nav_menu ul.subs li
			padding 0 0.1% 1% 1%
			width 13.7%
			display inline-block
		#nav_menu ul.subs > li > a
			color #fff
		.menu_header
			display none

		#nav_menu
			.menu_sale
				margin-right 0px
				a
					color $color_alt



/**TEMPORAL*/
.bredcrumb, .page_breadcrumb, .breadcrumb, .breadcrumbs
	overflow visible
	text-align left
	margin-top 0px
	margin-bottom 20px
	float left
	width 100%
	//border-bottom 1px solid $color_t
	padding-bottom 5px
	font-size 13px
	text-transform none
	a
		display inline-block
		font-size 13px
		color #282828
		text-decoration none
		font-family $fonttext_f1
		text-transform none
	b
		display inline-block
		font-size 13px
		//color $color_p
		color #282828
		font-weight normal
		font-family $fonttext_f1
		text-transform none
	big
		display inline-block
		width 5px
		height 16px
		font-size 8pt
		margin 0px 2px 0 5px
		color #777
	span
		display inline-block
		font-size 13px
		//color $color_p
		color #282828
		font-weight normal
		font-family $fonttext_f1
		text-transform capitalize
	strong
		font-size:11px
		font-weight:normal
		color:#808080
		font-weight:normal
	.glyphicon-menu-right
		//background url(../../images/common/arrow.png)
		width 12px
		height 8px
		font-family none
		content ""
		top -2px
	.glyphicon-menu-right::before
		content "/"




/**CONTENT **/

@keyframes efectt_page {
	0%{
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
// @-webkit-keyframes mymove {
// 	0%{
// 		opacity: 0
// 	}
// 	30%{
// 		opacity: 0.3
// 	}
// 	60%{
// 		opacity: 0.6
// 	}
// 	100% {
// 		opacity: 1
// 	}
// }
// .efectt_page
// 	animation-name: act_clints

#content
	margin-top 60px
	-webkit-animation: efectt_page 3s; /* Safari 4.0 - 8.0 */
	animation: efectt_page 3s;
	/*PAGE PRICE*/
	.planes-commerse
		.plan-free
			margin-top 30px
			margin-bottom 70px
			h1
				margin-bottom 10px !important
				text-align center !important
				font-size 36px !important
				color inherit !important
				line-height normal !important
				margin-top 30px !important
				font-weight 100 !important
				color $color_s !important

			strong
				width auto
				display inline-block
				text-align center
				font-size 18px
				padding 0 10px


		.title-plan
			display flex
			width 100%
			margin 40px 0 50px 0
			height 170px
			flex-direction column
			justify-content center
			align-items center
			h1
				padding 0
				font-size 34px !important
				margin 0px !important
				color $color_s
				line-height normal
			p
				margin-bottom 30px

		strong
			font-size 18px
			font-weight normal
			color #7F7F7F
		.plans_three_sections
			margin-top 10px
			display inline-block
			width 100%
			display flex
			justify-content: center
			.box
				width 26%
				border 1px solid #ccc
				flex-direction: column
				padding: 40px 20px
				display flex
				justify-content: flex-start
				align-items: center
				strong
					font-size 25px
					color #000
				.price
					color $color_s
					text-align center
					display flex
					flex-direction column
					height 160px
					align-items center
					justify-content center
					
					strong
						color $color_s
						font-size: 50px;
						line-height: 45px;
						margin: 0;
						display: flex;
						align-items: flex-start;
						small
							font-size: 23px;
							/* color: #afafaf; */
							line-height: 30px;
							font-family: Roboto Condensed;
							margin-right: 2px;
					span
						font-size 23px
						color $color_s
				p
					padding 20px 30px
					font-size 15px
					text-align center

			.padd0
				margin 0
				border-right none
			.padd1
				margin 0
				border-right none
			.padd2
				margin 0px
				background #f7f7f7
				.price
					span
						font-size 32px

			.padd3
				padding 0px
	
		
				span
					color #fff
					font-size 20px
			.head-plan-basico
				margin-top 20px
			.content-plan-basico
				padding-top 15%
				padding-bottom 5%

	
		.cuadro-plan
			padding-top 30px
			b
				font-weight normal
				font-size 15px
				color #333
				width auto
			span
				font-size 15px
				color #333
			p
				text-align center


			.table-plan
				margin-top 30px
				table
					thead
						tr
							.tarif
								text-align left
								width 30%
								padding-left 30px
								font-weight normal
							th
								text-align center
								font-size 18px
								padding-top 50px
								padding-bottom 15px
								span
									font-size 23px
									color #000
									width 100%
									display inline-block
									font-weight normal
									margin-bottom 10px
								div
									color $color_p
									div.contact
										height: 49px;
										display: flex;
										justify-content: center;
										align-items: center;
										font-size: 22px;
									strong
										color $color_p
										font-size 35px
										font-weight normal
										text-transform uppercase
										margin 0
										width auto
									p
										margin 15px 0 0 0
										b
											font-weight normal
									span

										
											
					tbody
						tr
							.des-plan
								text-align left
								font-size 15px
								padding-left 30px
								border-right 1px solid #ddd
								width 35%
							td
								font-size 15px
								padding-top 10px
								padding-bottom 10px
								span
									font-size 11px
								i
									color #aab646
									font-size 20px
								i.fa-times
									color #f7121c
						.title
							font-weight normal
							background #f7f7f7
							font-size 16px
							text-align left
							padding-left 30px
					tfoot
						tr
							td
								padding-top 20px
								padding-bottom 40px



		.pln-footer-btn
			margin-top 15px
			background #fff
			margin-bottom 100px
			text-align center
			padding 0 20px
			strong
				margin-top 20px
				font-weight normal
				font-size 25px
				margin-bottom 20px
				display inline-block
				color #000

			p
				font-size 15px
				color #000
				text-align center
			a
				font-size 20px
				color $color_s
				text-decoration none
				margin-top 5px
				display inline-block
				padding 0 20px
				i
					padding-right 10px
					font-size 23px


	.price_setup
		//background $back_gris
		padding 50px 0
		margin 30px 0 0 0
		h3
			sub_titulos()
			text-align center
		.serv_setup
			display flex
			align-items stretch
			justify-content space-between
			padding 20px 0
			.serv_setup_item	
				background $back_gris
				width 31%
				display flex
				flex-direction column
				align-items: center
				padding 30px 25px
				border-radius 10px
				img
					width 70px
					height 60px
					margin 0 0 15px 0
				strong
					font-size 18px
					font-weight: bold
					margin 5px 0 0 0
					//color #cc7225
				ul
					margin 15px 0 0 0
					height 110px
					display flex
					justify-content center
					li
						text-align center
				a
					margin 30px 0 0 0
				b
					text-align center
	.serv_optional
		display flex 
		flex-direction column
		height 300px
		align-items center
		justify-content center
		flex-flow wrap
		margin 0 0 70px 0
		img, ul
			margin 0 50px
		ul
			strong
				text-transform uppercase
				font-size 18px	
				margin 0 0 20px 0
				display block
			li
				margin 0 0 10px 0


	
	.container-fluid
		padding-left 0px
		padding-right 0px
	
	/*PAGE BUSINESS*/
	.bss_section1
		display flex
		flex-direction column
		margin 0 0 35px 0
		h1
			margin 0 0 40px 0
		.sect
			display flex
			margin-bottom 70px
			margin-top 20px
			div
				padding-right 4%
				width 33.3%
				display flex
				justify-content flex-start
				align-items center
				flex-direction column
				i
					font-size 70px	
					margin-bottom 20px	
					color $color_emprendedor
				strong
					font-size 16px
					margin-bottom 5px
					display block 
				p
					text-align center



	.bss_section2
		display flex
		flex-direction column
		justify-content center
		align-items center
		h2
			width 50%
			text-align center
			font-size 50px
			line-height 70px
			color $color_emprendedor
		strong
			font-size 28px
			width 50%
			text-align center
			font-weight normal
			margin-top 15px
			

	.bss_section3
		padding 120px 0
		display flex
		flex-flow wrap
		.sec_inter
			width 50%
			padding 0 10% 0 0
			display flex
			align-items flex-start
			margin 0 0 40px 0
			i
				min-width 70px
				height auto
				display block
				font-size 55px
				margin-right 25px
				color $color_emprendedor
			div
				strong
					font-size 20px
					margin-bottom 10px
					display block
		.sec_btn
			margin 50px 0
			justify-content center
			a
				padding 12px 25px 
				text-decoration none
			.btn-action
				background $color_emprendedor
				padding 11px 20px
			.btn_caract
				a-moreinfo()
				border-radius: 0px
				border-top: 1px solid transparent
				border-left: 1px solid transparent
				border-right: 1px solid transparent
				border-bottom: 1px solid $color_azul
				&:hover
					border-radius: 7px
					border: 1px solid $color_azul
	
	
			

	.bss_section4
		padding 10px 0 50px 0
		strong
			format-title()
			margin 0 0 5px 0
		p
			p_sub-title()
	/*PAGE PARA EMPRESAS*/
	.ps_section1
		display flex
		flex-direction column
		margin 0 0 35px 0
		h1
			margin 0 0 40px 0
		.sect
			display flex
			margin-bottom 70px
			margin-top 2gulp0px
			div
				padding-right 4%
				width 33.3%
				display flex
				justify-content flex-start
				align-items center
				flex-direction column
				i
					font-size 60px	
					margin-bottom 20px	
					color $color_empresas
				strong
					font-size 16px
					margin-bottom 5px
					display block 
				p
					text-align center



	.ps_section2
		display flex
		flex-direction column
		justify-content center
		align-items center
		h2
			width 50%
			text-align center
			font-size 50px
			line-height 70px
			color $color_empresas
		strong
			font-size 28px
			width 50%
			text-align center
			font-weight normal
			margin-top 15px
			

	.ps_section3
		padding 120px 0 10px 0 
		display flex
		flex-flow wrap
		.sec_inter
			width 50%
			padding 0 10% 0 0
			display flex
			align-items flex-start
			margin 0 0 40px 0
			i
				min-width 70px
				height auto
				display block
				font-size 55px
				margin-right 25px
				color $color_empresas
			div
				strong
					font-size 20px
					margin-bottom 10px
					display block
		.sec_btn
			margin 50px 0
			justify-content center
			a
				padding 12px 25px 
				text-decoration none
			// .btn-action
			// 	background $color_empresas
			// 	padding 11px 20px
			.btn
				margin 0px 0 0 0
			.btn_caract
				a-moreinfo()
				border-radius: 0px
				border-top: 1px solid transparent
				border-left: 1px solid transparent
				border-right: 1px solid transparent
				border-bottom: 1px solid $color_azul
				 &:hover
					 border-radius: 7px
					 border: 1px solid $color_azul
				i
					font-size 17px
					display inline-block
					margin 0 10px 0 0
					padding 0
					min-width auto
					color $color_azul
			.btn-price
				margin 0 40px 0 0
				padding 12px 33px
				font-size 16px

	.ps_section4
		padding 10px 0 50px 0
		strong
			format-title()
			margin 0 0 5px 0
		p
			p_sub-title()






	.content_cotiza
		.section_form_cotiza
			margin 0 0 100px 0
			display flex
			justify-content center
			.form-group
				.form-control
					margin 0 0 20px 0
				#txtQtyProds
					width 40%
			strong
				sub_titulos()
				font-size 20px
				text-align center
				display inline-block
				width 100%
				margin 20px 0
	

	/* BANNER GALERY */
	.galery_img
		.galery_img_1
			margin 0 0 30px 0
			b
				display none
				position absolute
				text-align center
				top 45%
				width 100%
				font-family $fonttext_f1
				color #ffffff
				font-size 27px
				/*span
					border-top 1px solid #ffffff
					border-bottom 1px solid #ffffff*/
			p
				background #225d2c
				opacity 0.9

		&:hover
			b
				display block
		.galery_img_2
			margin 0 0 15px 0
		.galery_img_3
			margin 0 0 15px 0
		.galery_img_4
			margin 0
		.galery_img_5
			margin 0
		.galery_img_6
			margin 0
		.galery_img_7
			margin 0
		.galery_img_8
			margin 0
	.info_sitemap
		p
			text-align:justify
		strong
			margin 40px 0 0px 0
			display block
			border-bottom 1px solid #ccc
			text-align left
			font-weight normal
			font-size 22px


		b
			margin:15px 0 5px 0
			display:block
	.popular_product
		a
			float:left
			width:30%
			text-align:left
			color:#808080
	.popular_o_product
		a
			float:left
			width:100%
			text-align:left
			color:#808080

	.information
		margin 50px 0 0 0

		h1
			color  #5d5d5d
			font-size  25px
			font-weight  normal
			letter-spacing  -1px
			margin-bottom  15px
			text-align  left
			padding 0 0 5px;
		h2
			color  #5d5d5d
			font-size  25px
			font-weight  normal
			letter-spacing  -1px
			margin-bottom  15px
			text-align  left
			padding 0 0 5px;
		h3
			color  #5d5d5d
			font-size  25px
			font-weight  normal
			letter-spacing  -1px
			margin-bottom  15px
			text-align  left
			padding 0 0 5px;
		p
			text-align justify
			color #666666
	.banner_lateral
		margin 20px 0 90px 0

	/*Contenido Home*/
	.home_section0
		display: flex;
		padding: 30px 0 70px 0;
		justify-content: center;
		
		div
			display flex
			flex-direction column
			align-items center
			padding 0 5%
			text-align center
			justify-content: center
			p
				width 80px
				height 80px
				background #333
				display flex
				justify-content center
				align-items center
				border-radius 50px
				i
					font-size 45px
					color #fff
			p.ico1
				background #64D7D6
			p.ico2
				background #FF007B
			p.ico3
				background #F67280
			p.ico4
				background #5782bb
			span
				font-size: 14px
 
	.home_section1
		background #f2f2f2
		padding 30px 0
		.hs_conten
			display flex
			.text
				b
					margin 10px 0 15px 0
					font-size 16px
			div
				width 50%
				padding: 0 50px 
				display flex
				justify-content center
				align-items flex-start
				flex-direction column
			strong
				format-title()
				text-align left
			p
				font-size 15px
			b
				width 100%
				display flex
				margin 30px 0
				a
					display block
					font-size 17px
					margin 0 30px 0 0
				a:nth-child(2)
					a-moreinfo()
					align-self center

			form 
				display: flex
				width: 500px
				margin 25px auto
				flex-flow wrap
				align-items center
				input
					width 70%
					margin 10px 0
					height: 50px
				button
					width 28%
					margin 10px 0 10px 2%
					height: 50px
					background-color: $color_p 
					color #fff
					font-family: $font_medium
					font-size 17px
					-webkit-box-shadow: 0 0 22px 0px rgba(166,166,166,0.48)
					-moz-box-shadow: 0 0 22px 0px rgba(166,166,166,0.48)
					box-shadow: 0 0 22px 0px rgba(166,166,166,0.48)
				span
					font-size 16px
					text-align: center
					color $color_f
					font-family $font_arial
					
	
	.home_section2
		display flex
		justify-content: space-between
		margin 80px 0 100px 0
		align-items flex-start
		div
			display flex
			justify-content center
			flex-direction: column
			align-items center
			width 33.3%
			span
				background #484f5b
				width 70px
				height 70px
				display flex
				justify-content center
				align-items center
				border-radius 16%
				margin-bottom 20px
				i
					color #fff
					font-size 40px
			p
				text-align center

			
	.home_section3
		padding 100px 0 50px 0
		//.hs3_1
		.hs_imgtext
			display flex
			justify-content space-between	
			.hc_content
				margin 0 7% 0 7%
				display flex
				flex-direction column
				justify-content center
				strong
					sub_titulos()
				a.btn-action
					btn_action_small()
				a.moreinfo
					a-moreinfo()
		.hs3_2
			background #f2f2f2
			.hs_imgtext
				display -webkit-flex
				-webkit-flex-direction row-reverse
				display flex
				flex-direction row-reverse
				.hc_content
					margin 0 7% 0 5%
	
		.hs3_4
			background #f2f2f2
			.hs_imgtext
				display -webkit-flex
				-webkit-flex-direction row-reverse
				display flex
				flex-direction row-reverse
				.hc_content
					margin 0 7% 0 5%
	
	.home_section4
		margin 60px 0
		h2
			format-title()
		strong
			p_sub-title()
		.clients
			display flex
			flex-wrap wrap
			justify-content center
			margin 50px 0
			.client
				width 33%
				padding 15px
				display flex
				justify-content center
				align-items center
				a
					img
						-webkit-filter: grayscale(0%) contrast(0%);
						filter: grayscale(0) contrast(0);
						opacity: 0.5;
						transition all 1s
					:hover
						-webkit-filter: grayscale(0%) contrast(100%);
						filter: grayscale(0) contrast(1);
						opacity: 1;
						transition all 1s
	.sect_cotiza
		margin 0px
		.clients
			margin 20px 0 0
	.sect_clients
		background #f2f2f2
		padding 50px 0 20px 0
		margin 20px 0 0 0
	.home_section5
		//background-image: url(../images/banners/banner_team.jpg)
		padding 50px 0
		background-color #f7f7f7
		strong
			format-title()
			color $color_s
			margin 0px
		p.subtit
			p_sub-title()
			color #f3f3f3
			text-shadow 1px 1px 2px rgba(0, 0, 0, 1)
		.team
			display flex
			flex-flow: wrap
			justify-content space-between
			padding 40px 50px 0px
			.card_team
				width 29%
				background: #f7f7f7
				//background-color: rgba(166, 183, 57, 0.9); 
				//background-color: rgba(243,243,243,1)
				border-radius 7px
				margin 0 0 40px 0
				// -webkit-box-shadow: 1px 1px 20px 0px rgba(171,171,171,1);
				// -moz-box-shadow: 1px 1px 20px 0px rgba(171,171,171,1);
				// box-shadow: 1px 1px 20px 0px rgba(171,171,171,1);
				border 1px solid #dedede
				p
					font-size 14px
					padding 20px 30px
					color #8a8a8a
				b
					background #ccc
					width 100%
					display block
					padding 10px 50px
					color #fff
					font-weight normal
					border-bottom-right-radius 7px
					border-bottom-left-radius 7px
					a 
						color #fff
				b.c_team1
					background #fb8b8a
				b.c_team2
					background #333
				b.c_team3
					background #47c1bf
				b.c_team4
					background #5c6ac4

			.card_team:nth-child(1)
				border 1px solid #fb8b8a
			.card_team:nth-child(2)
				border 1px solid #333
			.card_team:nth-child(3)
				border 1px solid #47c1bf
	
	
	.home_section6
		margin 60px 0
		.caracteristicas
			display flex
			flex-direction column
			align-items center
			justify-content center
			h2
				format-title()
				margin 0
			strong	
				p_sub-title()
			.c_list
				display flex
				flex-direction: column
				flex-flow: wrap
				min-height 350px
				margin 50px 0
				p
					width 50%
					padding-right 7%
					padding-left 3%
					display flex
					justify-content space-between
					align-items center
					i
						min-width 65px
						width 65px
						height 61px
						margin 0 15px 0 0
					.ico-1
						background url("../../images/common/ico-design.png");
						background-repeat no-repeat
						background-position 0 0
					.ico-2
						background url("../../images/common/ico-unlimited.png");
						background-repeat no-repeat
						background-position 0 0
					.ico-3
						background url("../../images/common/ico-excel.png");
						background-repeat no-repeat
						background-position 0 0
					.ico-4
						background url("../../images/common/ico-pays.png");
						background-repeat no-repeat
						background-position 0 0
					.ico-5
						background url("../../images/common/ico-moneys.png");
						background-repeat no-repeat
						background-position 0 0
					.ico-6
						background url("../../images/common/ico-promociones.png");
						background-repeat no-repeat
						background-position 0 0
					.ico-7
						background url("../../images/common/ico-google.png");
						background-repeat no-repeat
						background-position 0 0

					.ico-8
						background url("../../images/common/ico-settings.png");
						background-repeat no-repeat
						background-position 0 0


	.home_section7
		display flex
		flex-direction column
		align-items center
		padding 70px 0
		strong
			format-title()
		.content
			width: 600px
			text-align center 
			margin 35px 0


	.home_section8
		padding 70px 0
		display flex
		justify-content center
		.pagos
			display flex
			justify-content center
			align-items center
			flex-direction column
			h2
				format-title()
			strong
				text-align center
				width 100%
				display block
				p_sub-title()
				margin-bottom 50px
			div
				img
					padding 21px 9px

	.home_section9
		padding 50px 0
		background #f2f2f2
		.access
			display flex
			justify-content space-between
			.a_section
				display flex
				width 50%
				flex-direction column
				padding 0 9% 0 0%
				justify-content: space-between
				strong
					font-size 25px
					margin 0 0 10px 0
				.btn
					align-self flex-start
				
	/*Botones***/
	.btn
		color #fff
		font-family $font_medium
		margin 20px 0 0 0
		padding 10px 30px
	.btn-price
		background $color_price
		&:hover
			filter saturate(70%)
	.btn-emprendedor
		background $color_emprendedor
		&:hover
			filter saturate(70%)
	.btn-empresas	
		background $color_empresas
		&:hover
			filter saturate(70%)
	/*PAGE CARACTER*/
	.caract_section1
		display flex
		justify-content center
		padding 20px 0
		.sect
			width 33%
			padding 0 5% 0 0	
			text-align center
			i
				font-size 60px
				margin-bottom 20px
				color $color_celeste
			strong
				font-size $size_h4
				margin-bottom 10px
				display block
			a
				color $color_azul
				text-decoration none
				&:hover
					 text-decoration underline
		
	
	.caract_section2
		padding 70px 0
		.section_design
			display flex
			justify-content space-between
			margin 0 0 60px 0
			align-items center
			.sd_content
				width 50%
				padding 0 6% 0 0
				h3
					sub_titulos_inter()
				p
					font-size 14px
					span
						color $color_p
						margin-right 5px
						font-family $font_medium
				.list
					display flex
					margin 20px 0 0 0
					ul
						width 50%
						b
							font-size 16px
							margin-bottom: 10px
							display block
						li
							margin 0 0 5px 0
							i
								color $color_p
								width 25px 

			.sd_content.comerciales
				b
					font-size 16px
					margin-bottom: 10px
					display block
					margin-top 30px
				.optns
					display flex
					ul
						width 50%
						span
							font-size 15px
							margin-bottom: 10px
							display block
							color $color_p
							
						li
							margin 0 0 5px 0
							i
								color $color_p
								width 25px 
					ul.icns
						width 100%

					





	.section-comenzar
		margin 40px 0 100px 0
		display inline-block
		width 100%
		h3
			font-family $fonttext_f2
			color $color_s
			font-size 45px
			margin 0px 0 20px 0
			text-align center
			padding 0 10%
		p
			text-align center
			width 100%
			display inline-block
			margin 10px 0 50px 0
			.btn-comenzar
				background #a6b739
				border-radius 5px
				color #fff
				padding 9px 30px 9px
				margin 0px
				font-size 18px
				font-family $fonttext_f2
				&:hover
					background #919b32

	.section_cloud
		display inline-block
		width 100%
		text-align center
		margin 0 0 80px 0
		h2
			margin 80px 0 5px
		.img_cloud
			display inline-block
			text-align center
			width 100%
			img
				display inline-block
				margin 25px 0 10px 0
		b
			font-family $fonttext_f3
			font-size 25px
			line-height 30px
			text-align center
			font-weight normal
			display inline-block
			width 100%
			font-weight normal
			color $color_f
			padding 0 5%
			margin 10px 0 30px 0
		.btn-comenzar
			background #a6b739
			border-radius 5px
			color #fff
			padding 9px 20px 12px
			margin 0px
			font-size 22px
			font-family $fonttext_f2
			&:hover
				background #919b32




	
	/**PAGES RUBROS*/
	.rubros_section1
		background: url(../images/banners/banner_retail.jpg) center 0 no-repeat	
		height 315px
		width: 100%
		display: block
		.rs_bnr_1
			display flex
			height 315px	
			width 100%
			justify-content: center
			align-items center
			flex-direction column
			h1
				format-title()
				font-size 45px
				color $color_s
				text-shadow 2px 1px 3px #fff
			.btn
				margin 20px 0
			p
				font-size 16px
	.rubros_section2
		//background: url(http://via.placeholder.com/1650x505) center 0 no-repeat	
		background: rgba(0,94,162,1);
		background: -moz-linear-gradient(top, rgba(0,94,162,1) 0%, rgba(0,205,161,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,94,162,1)), color-stop(100%, rgba(0,205,161,1)));
		background: -webkit-linear-gradient(top, rgba(0,94,162,1) 0%, rgba(0,205,161,1) 100%);
		background: -o-linear-gradient(top, rgba(0,94,162,1) 0%, rgba(0,205,161,1) 100%);
		background: -ms-linear-gradient(top, rgba(0,94,162,1) 0%, rgba(0,205,161,1) 100%);
		background: linear-gradient(to bottom, rgba(0,94,162,1) 0%, rgba(0,205,161,1) 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005ea2', endColorstr='#00cda1', GradientType=0 );
		height 505px
		width: 100%
		display: block
		.rs_bnr_2
			display: flex
			justify-content space-between
			width 100%
			height 505px 
			.img
				width 50%
				display: flex;
				justify-content: flex-end;
				align-items: center;
				padding-right: 3%;
			.texto
				display flex
				width 50%
				justify-content: center
				align-items flex-start
				flex-direction column
				h2
					format-title()
					color #fff
					text-align left
					
				.btn
					margin 20px 0
				p
					width 80%
					color #fff
			

	.rubros_section3
		padding 70px 0
		display flex
		flex-flow wrap
		strong
			sub_titulos_inter()
			width 100%
			margin-bottom 50px
		.sect1, .sect2
			width: 50%;
			height: 240px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
		.sect2
			b
				sub_titulos()
				width 100%
			.img
				display flex
				flex-flow wrap
				align-items center
				width 100%
				*
					margin  5px 45px 15px 0
			.img.alt
				justify-content center
		a
			a-moreinfo()
		

	.rubros_section1.moda
		background: url(../images/banners/banner_moda.jpg) center 0 no-repeat	
	.rubros_section2.moda
		background: rgba(0,62,168,1);
		background: -moz-linear-gradient(top, rgba(0,62,168,1) 0%, rgba(255,124,216,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,62,168,1)), color-stop(100%, rgba(255,124,216,1)));
		background: -webkit-linear-gradient(top, rgba(0,62,168,1) 0%, rgba(255,124,216,1) 100%);
		background: -o-linear-gradient(top, rgba(0,62,168,1) 0%, rgba(255,124,216,1) 100%);
		background: -ms-linear-gradient(top, rgba(0,62,168,1) 0%, rgba(255,124,216,1) 100%);
		background: linear-gradient(to bottom, rgba(0,62,168,1) 0%, rgba(255,124,216,1) 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003ea8', endColorstr='#ff7cd8', GradientType=0 );		
	
	.rubros_section1.negocio
		background: url(../images/banners/banner_negocio.jpg) center 0 no-repeat	
	.rubros_section2.negocio
		background: rgba(0,199,103,1);
		background: -moz-linear-gradient(top, rgba(0,199,103,1) 0%, rgba(52,161,191,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,199,103,1)), color-stop(100%, rgba(52,161,191,1)));
		background: -webkit-linear-gradient(top, rgba(0,199,103,1) 0%, rgba(52,161,191,1) 100%);
		background: -o-linear-gradient(top, rgba(0,199,103,1) 0%, rgba(52,161,191,1) 100%);
		background: -ms-linear-gradient(top, rgba(0,199,103,1) 0%, rgba(52,161,191,1) 100%);
		background: linear-gradient(to bottom, rgba(0,199,103,1) 0%, rgba(52,161,191,1) 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c767', endColorstr='#34a1bf', GradientType=0 );

	/*PAGE CLIENTS*/
	.animated
		animation-duration: 1s;
		animation-fill-mode: both;

	.animated.infinite
		animation-iteration-count: infinite;

	.animated.hinge
		animation-duration: 2s;

	.animated.flipOutX,	.animated.flipOutY,	.animated.bounceIn,	.animated.bounceOut
		animation-duration: .75s;


	.clients_section
		background: #f2f2f2
		padding 25px 0
		h1
			text-align: center
			font-family $font_bold
		h3
			font-size: 20px
			text-align: center
			margin 5px 0 20px 0

			
		.list_clients
			display flex
			flex-flow: wrap
			padding 30px 0 0 0
			.item
				width 50%
				display: flex
				flex-direction: column
				align-items: center
				margin 0 0 70px 0
				h2
					text-align: center
					font-size: 20px
					color #000000
					font-family: $font_medium
				p
					font-size: 13px
					text-align: center
					width 70%
					height: 80px
				img
					width 90%
				a
					display flex
					justify-content: center
					align-items: center
					color $color_azul
					i
						margin 0 8px 0 0
		

				@keyframes swing {
					20%{
						transform: rotate3d(0, 0, 1, 15deg);
					}

					40% {
						transform: rotate3d(0, 0, 1, -10deg);
					}

					60% {
						transform: rotate3d(0, 0, 1, 5deg);
					}

					80% {
						transform: rotate3d(0, 0, 1, -5deg);
					}

					to {
						transform: rotate3d(0, 0, 1, 0deg);
					}
				}
				.swing
					&:hover
						transform-origin: top center;
						animation-name: swing;


				@keyframes bounce {
					from, 20%, 53%, 80%, to{
						animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
						transform: translate3d(0,0,0);
					}
					40%, 43% {
						animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
						transform: translate3d(0, -30px, 0);
					}
					70% {
						animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
						transform: translate3d(0, -15px, 0);
					}
					90%{
						transform: translate3d(0,-4px,0);
					}
				}
				.bounce
					&:hover
						animation-name: bounce;
						transform-origin: center bottom;


	/** WIDGET NAVIGATOR PRODUCT **/
	.wdgt_nav
		background #444
		margin 8px 0 3px 0
		font-size 13px
		font-weight bold
		display inline-block
		width 100%
		a
			text-decoration none
			&:hover
				color $color_s
		.pager
			margin 5px 10px 10px
		.prev
			float left
			.glyphicon-menu-left
				color $color_s
				margin 0 0 0 -10px
		.next
			float right
			.glyphicon-menu-right
				color $color_s
				margin 0 -10px 0 0

	/** WIDGET SOCIAL **/
	.product_social
		width 100%
		display inline-block
		text-align left
		font-weight normal
		b
			margin 8px 0 6px 0
			width 100%
			display block

		.fb_iframe_widget
			overflow hidden
			width 100px
		div > div
			float left
			margin 0 15px 10px 0
		div
			float left
			margin 0 15px 10px 0

	/*WIDGET PRODUCT RECOMEND*/
	.products_recommended
		display inline-block
		margin 30px 0
		width 100%
		h3
			border-bottom  1px solid #dde0e2
			padding 0 0 10px 0
			color  #333
			font-size  22px
			text-align  left
			letter-spacing  -1px
			margin  5px 0 20px
			font-weight  normal
			width  100%
			float  left

	/* WIDGET PRODUCTO VIEW RECENT */
	.product_view_recent
		margin 40px 0 30px 0
		display inline-block
		width 100%
		border-top 2px solid $color_title
		padding 10px 0 10px 0
		h2
			color $color_
			font-size 20px
			text-align left
			letter-spacing -1px
			margin 10px 0 35px
			font-weight normal
			width 100%
			float left
			text-transform uppercase
		span
			letter-spacing 0px
		/*CONTROLS*/
		.bx-wrapper
			.bx-prev
				left -45px
			.bx-next
				right -35px
			.bx-prev, .bx-next
				//display none !important
				background transparent
				color $color_int
				&:hover
					border none
					color $color_t
			.bx-viewport
				background transparent


	/*WIDGET BLOG*/
	.blog_store
		margin 40px 0
		display inline-block
		width 100%
		h3
			border-bottom  1px solid #dde0e2
			padding 0 0 10px 0
			color  #333
			font-size  22px
			text-align  left
			letter-spacing  -1px
			margin  5px 0 5px
			font-weight  normal
			width  100%
			float  left
		.blog_item
			margin 15px 0 10px 0
			width 100%
			display block
			min-height 280px
			.blog_img
				img
					border 1px solid #999
			.blog_title
				a
					color #000
					font-weight bold
					font-size 13px
					margin 5px 0
					display inline-block
			.blog_descript
				max-height 60px
				overflow hidden
				p
					text-align left
			.more
				color #000
				font-weight bold
				display inline-block
				margin 10px 0

	/*WIDGTE SKU PRODUCT***/
	.featured_products
		margin 35px 0
		display inline-block
		width 100%
		//border 1px solid #871010
		//border 1px solid #444
		padding-top 20px
		background #fff

		h3
			border-bottom  1px solid #dde0e2
			padding 0 0 10px 0
			color  #333
			font-size  22px
			text-align  left
			letter-spacing  -1px
			margin  5px 0 5px
			font-weight  normal
			width  100%
			float  left
		.product_item
			margin 10px 0
			display block
			min-height 300px
			.product_img
				text-align centerproduct_name
				//border 1px solid #ccc
				display inline-block
				width 100%
				padding 0 0px
				img
					display inline-block
					width 100%

			.product_name
				color #fff
				margin 5px 0 0 0
				display block
				height 32px
				a
					color #000
					font-size 14px
					&:hover
						color #ccc


			.product_price
				margin 5px 0 10px
				text-align center
				display inline-block
				width 100%
				b
					span
						color #e81a24
						font-size 18px

			.btn_addtocart
				margin 0 0 25px 0

	/*WIDGET DE BANNER*/
	.banner
		width 100%
		margin 15px 0 30px 0
		display inline-block
		width 100%

	/*WIDGET DE BANNER PRINCIPAL*/
	.slide
		img
			width 100% !important
			height auto !important

	/*WIDGET DE LIST*/
	.list_widg
		margin 30px 0 30px 0
		display inline-block
		width 100%
		a
			&:hover
				color $color_s

	/*WIDGET PRODUCT HOME*/
	.products_slide_home
		display inline-block
		margin 20px 0 0 0
		width 100%
		h3
			border-bottom  1px solid #dde0e2
			padding 0 0 10px 0
			color  #333
			font-size  22px
			text-align  left
			letter-spacing  -1px
			margin  5px 0 20px
			font-weight  normal
			width  100%
			float  left


	.parallax-window
		min-height 550px
		background transparent


.content_designs
	text-align:center
	min-height:100px
	h4
		border-bottom  1px solid #ededed
		color  #5d5d5d
		font-size  22px
		letter-spacing  -1px
		margin  30px  0 25px 0px
		padding  0 0 5px
		text-align  left
	big
		font-size:19px
		color:#c00008
		text-align:center
.box_product
	border 1px solid transparent
	cursor:pointer
	margin:0 0 0px
	padding:3% 1px 3% 2px
	position:relative
	text-align:center
	min-height:300px
	&:hover
		border:1px solid #eee

	.img_product
		display:inline-block
		height 190px
		text-align center
		img
			max-height 190px
	.img_product_size170
		display:inline-block
		height auto
		text-align center
		width 100%
		background #fff
		padding 0 0 5px 0
		margin 0 0 25px 0
		img
			max-height 170px
	.name_product
		text-align left
		color #454545
		padding 0 15px 3px 15px
		font-size 13px
		padding 10px 0 0px 0
		border-top 2px solid $color_title
		margin 5px 0 0 0
		font-family $fonttext_f1
		text-transform uppercase
		a
			color $color_t
			font-size 17px
	.price_product
		color $color_title
		font-size:17px
		text-align:left
		/*TEMPORAL*/
		b
			display none
		strong
			font-weight normal
			font-family $fonttext_f1
			text-transform uppercase
	.btn_add_car
		b
			font-weight normal
			float left
			font-size 13px
			width 100%
			margin 15px 0 0 0
			a
				-moz-user-select none
				background-color transparent
				background-image none
				border 0 solid #fff
				border-radius 0
				color #999
				cursor pointer
				display inline-block
				font-size 13px
				font-weight normal
				line-height 1.42857
				margin 0
				padding 0 12px
				text-align center
				text-decoration underline
				vertical-align middle
				white-space nowrap
		a
			margin 5px 0 10px 0
			-moz-user-select none
			background-image none
			border 1px solid transparent
			border-radius 4px
			cursor pointer
			display inline-block
			font-size 14px
			font-weight normal
			line-height 1.42857
			padding 6px 12px
			text-align center
			vertical-align middle
			white-space nowrap
			background-color #c00008
			border-color #c00008
			color #fff
			text-decoration none
		img
			width 140px
			clear both




.elmpage_page_prods_more
	clear:both
	width:100%
	margin:5px auto 10px auto
	text-align:center


	a
		color:#454545
.elmpage_categ_list
	padding-bottom:35px
	padding-top:0px
	display:block
	font-family:inherit
	p
		float:left
	b
		font-weight:normal
		clear:both
		padding:0 0 0 10px
	h2
		text-align:left
		color:#434343
		margin-top:1px
		span
			display:block
			width:25px
			float:left
			margin:-3px 3px 0px 2px
			background:url('../images/interface/sprt_store.png') no-repeat -600px -180px
	.title
		display:none
	h3
		display:none
	a
		display:block
		width:24.8%
		color:#454545
		font-size:15px
		float:left
		text-align:left
		text-decoration:none
		line-height:14px
		padding:0 0 5px 15px
		border-right-width:1px
		border-right-style:solid
		border-right-color:#E9E9E9
		&:hover
			text-decoration:underline







/**FOOTER**/
footer
	margin-top 0px !important
	background $color_b
	margin-bottom 0px !important
	font-size 14px
	padding 40px 0 0px 0

	strong
		margin 13px 0 10px 0
		display block
		font-weight normal
		font-size 18px
		color #fff
		font-family $font_medium
	.logo-footer
		display inline-block
		width 100%
		text-align center
		margin 0 0 30px 0

	.cat-populares
		margin 10px 0
		padding 5px 0 10px 25px
		h4
			text-transform uppercase
			font-size 19px
			font-family $fonttext_f2,sans-serif
			font-weight normal
			padding 5px 0px

	.categorias
		border-top 1px solid #444

	.departamentos
		border-right 1px solid #444
		padding 15px 0 10px 0

	.border-menu-footer
		border-top 1px solid #444

	.navfooter
		display flex
		justify-content space-between
		div
			width 33.3%
			p
				a
					color #a2a3a5
					&:hover
						color $color_p	
	.post_foo
		background: #1d2633
		width 100%
		height 50px
		display flex
		justify-content center
		align-items center
		margin 70px 0 0 0
		p
			margin 0
			color #a2a3a5
		
		.cont_post_foo
			display flex
			justify-content space-between
			span
				margin 0 15px
			p
				font-size 13px
				a
					color #a2a3a5
					&:hover
						color $color_p	
				i
					margin 0 5px
					font-size 18px

	.menu-footer
		margin 15px 0
		ul
			list-style none
			padding 0
			li
				display inline-block
				padding 0 10px
				font-family $fonttext_f2,sans-serif
				a
					text-decoration none
					color #fff
					&:hover
						color #9b9b9b

	.info-contacto
		border-bottom 1px solid #444
		border-top 1px solid #444
		span
			font-size 12px

	.footer
		padding 15px 0
		a
			color #fff
			text-decoration none

	.contacto
		text-align left
		line-height 20px
		strong
			font-family $fonttext_f2,sans-serif
			font-weight normal
		span
			font-family $fonttext_f2,sans-serif

	.form-inline
		input
			border-radius 0px
			font-family $fonttext_f2,sans-serif
		button
			font-family $fonttext_f2,sans-serif
			font-weight normal
			background-color #e81a24
			color #fff
			border-radius 0px
			&:hover
				background-color #000
				color #fff

	.social
		font-size 30px
		text-align center
		padding-top 15px

	.inner-social-links
		display inline
		padding-right 5px
		border-radius 50%
		a
			.fa-twitter-square
				&:hover
					color #4099ff
			.fa-facebook-square
				&:hover
					color #4d69a2
			.fa-pinterest-square
				&:hover
					color #c92228
			.fa-youtube-square
				&:hover
					color #ED1010




#msg_page_agegate
	background-color:#000
	opacity:1
	position:absolute
	z-index:988
	top:0
	left:0
	width:100%
	height:100%
	display:none


#msg_page_base
	background-color:#001704
	opacity:0.7
	position:absolute
	z-index:988
	top:0
	left:0
	width:100%
	height:100%
	display:none

#msg_reg_eml_cntn
	position:absolute
	z-index:1006
	overflow:auto
	width:300px
	min-height:100px
	padding:10px
	top:50%
	left:50%
	text-align:center
	background-color:#fff
	display:none
	border-radius:8px
	-moz-border-radius:8px
	-o-border-radius:8px
	-webkit-border-radius:8px
	-ms-border-radius:8px


	big
		display:block
		margin-top:0px
		font-size:13pt
		color:#ccc
		font-weight:bold
		text-align:right
		cursor:pointer

	b
		display:block
		margin:-10px 0px 15px 0px
		font-size:12pt
		padding:0 0 10px 0
		text-align:left
		line-height:16px
		font-weight:normal
		color:#434343
		border-bottom:1px solid #ccc

	span
		display:block
		margin:15px 0px 15px 0px
		font-size:13px
		text-align:center
		line-height:16px
		color:#434343


	input
		width:90px
		height:30px
		margin-top:10px
		border:none
		background-color:#808080
		cursor:pointer

		&:hover
			background-color:#808080
			color:#fff

#msg_other_destns_cntn
	strong
		text-align:center
		display:block

	h4
		text-align:center



/**POP UP*/
.process_message_age
	position absolute
	z-index 1006
	overflow-y scroll
	overflow-x hidden
	height 100%
	padding 0px
	text-align center
	top 0%
	left 0%
	text-align center
	font-family inherit
	background-color #001704
	width 100%


.process_message
	position absolute
	z-index 1006
	overflow auto
	padding 0px
	text-align center
	top 50%
	left 50%
	text-align center
	font-family inherit
	background-color #fff
	display none
	width 100%


/** CONTENIDO DE Blog **/
.cnt_blog
	.descrip_blog
		.nom_blog
			h1
				font-weight normal
				margin 0 0 15px 0
				font-size 28px
				color #5d5d5d
				width 100%
	.info_blog
		float left
		width 100%
		margin 0 0 30px 0
		h2
			color  #5d5d5d
			font-size  24px
			font-weight  normal
			letter-spacing  -1px
			margin-bottom  15px
			padding  0 0 5px
			text-align  left
			strong
				color  #5d5d5d
				font-size  24px
				font-weight  normal
				letter-spacing  -1px
				margin-bottom  15px
				padding  0 0 5px
				text-align  left
		h3
			color  #5d5d5d
			font-size  24px
			font-weight  normal
			letter-spacing  -1px
			margin-bottom  15px
			padding  10px 0 5px
			text-align  left
		p
			text-align justify
			color #666666
			font-size 13px
		b

		ol
			margin 20px 0
		li
			color #666666
			margin 8px 0
			font-size 13px
	.feche_blog
		width 100%
		float left
		margin 0px 0 0 0
		p
			margin 0px
	.social_faceb
		width 100%
		float left
		margin 15px 0
		.social_twitter
			width 100%
			float left
			margin 15px 0
			iframe
				margin 0 15px 0 0
	.comentarios_faceb
		width 100%
		float left
		margin 15px 0 0 0
.list_categ,.list_create
	display none
	width 100%
	padding 0 0 0 30px
	strong
		font-size 18px
		font-family $fonttext_f3
		font-weight normal
		border-bottom 1px solid #ccc
		margin 10px 0
		padding 0 0 6px 0
		display inline-block
		width 100%

	ul
		list-style none
		padding 0
		margin 0
		li
			display block
			line-height 20px
			font-size 15px
			padding 0 0 10px 0
			font-family $fonttext_f5
			a
				color $color_title

.blog_store
	display inline-block
	width 100%
	padding 0 0 0 20px
	h3
		font-size 18px
		font-family $fonttext_f3
		font-weight normal
		border-bottom 1px solid #ccc
		margin 10px 0
		padding 0 0 6px 0
		display inline-block
		width 100%


.contact_blog
	strong
		border-bottom 1px solid #ededed
		color #000
		font-family inherit
		font-size 20px
		letter-spacing  -1px
		margin 0px 0 12px
		padding 0px 0 5px
		font-weight normal
		float left
		width 100%
	ul
		list-style none
		padding 0 0 20px 15px
		float left
		li
			a
				color #777
				line-height 22px
				&:hover
					color $color_p

	p
		font-size 13px
		margin 10px 0 20px
		a
			color #ed1c24
		i
			width 33px
			height 22px
			margin-right 9px
	.icoweb
		background url(../../images/common/ico-web.png) no-repeat
		display block
		float left
	.icotel
		background url(../../images/common/ico-telefono.png) no-repeat
		display block
		float left
	.icomail
		background url(../../images/common/ico-correo.png) no-repeat
		display block
		float left
	.icohora
		background url(../../images/common/ico-horario.png) no-repeat
		display block
		float left
	.icocateg
		background url(../../images/common/ico-categ.png) no-repeat
		display block
		float left
	ul
		font-size 13px
	ol
		margin-left 25px
		li
			font-size 13px

.landing_blog
	h1
		text-align center
		margin 0px 0 35px 0
		color #000
		line-height 30px

	h3
		border-bottom  1px solid #ededed
		color  #5d5d5d
		font-size  22px
		letter-spacing  -1px
		margin  0 10px 25px
		padding  0 0 5px
		text-align  left
	.item
		display inline-block
		margin 0 0 40px 0
		img
			padding 3px
			border 1px solid #eee
			margin 5px 0 0
			&:hover
				opacity 0.7
		strong
			font-size 18px
			font-weight normal
			a
				color #333
				&:hover
					color $color_p

		p
			font-size 13px
			margin 0 0 3px 0
			text-align justify
		b
			margin 5px 0
			float left
			width 100%
			font-weight normal


		.moreinfo
			color #f76d10
		.btnir
			text-align center
			.btniratienda
				margin 25px 0 0 0
				text-align center

.blog_item
	display inline-block
	width 100%
	margin 10px 0
	.blog_img
		display inline-block
		margin-top 15px
	.blog_title
		font-family $fonttext_f2
		font-size 17px
		line-height 20px
		margin 10px 0
		a
			color $color_title
	.blog_descript
		display none
	.more
		display none



.section_categ
	font-family $fonttext_f5
	color $color_title
	// display none
	strong
		border-bottom 1px solid #ccc
		font-size 20px
		font-family $fonttext_f3
		margin-bottom 10px
.pagination
	margin 50px 0 0 0
	display inline-block
	width 100%
	text-align center
	strong
		font-weight normal
		padding 0 5px
	big
		padding 0 15px
		display inline-block
	a
		padding 0 5px

.item_post
	margin 30px 0 65px 0
	display inline-block
	width 100%
	h1
		a
			font-family $fonttext_f2
			font-size 23px
			color $color_s
			text-transform uppercase
	img
		display inline-block
		margin-bottom 10px
	b
		display inline-block
		margin 10px 15px 10px 0
		font-weight normal
		display block
		i
			margin 0 3px
	.categoria, .autor
		display none
	p
		font-size 13px
		font-family $fonttext_f5
		text-align justify
.viewmore
	font-family $fonttext_f2
	margin-top 25px
	.btn-viewmore
		background $color_p
		border-color $color_p
		color #fff
		padding 8px 25px
		text-align center
		&:hover
			background $color_s
			border-color $color_s
.cnt_blog_left
	margin-left -10px
	.btn-volver
		background $color_p
		border-color $color_p
		color #fff
		padding 8px 25px
		text-align center
		&:hover
			background $color_s
			border-color $color_s
	.item_post
		h1
			font-family $fonttext_f2
			font-size 23px
			color $color_s
			text-transform uppercase
		h2
			font-size 20px
/**PAGINATION**/
.pagination_wrapper
	margin 20px 0 30px 0
	display inline-block
	width 100%
	text-align center


	.elmpage_page_prods_foot
		strong
			font-weight normal
			padding 0 5px
		big
			padding 0 15px
			display inline-block
			color #e1e1e1
		a
			padding 0 5px

@import 'responsive'