$color_p = #000
$color_s = #212121
$color_t = #3D3D3D
$color_f = #d7ab9e
$color_b = #797979
$color_int = #000
$color_title = #000
$fonttext = 'Arial'
$fonttext_f1 ='RobotoCondensed-Bold'
$fonttext_f2 ='RobotoCondensed-Regular'
$fonttext_f3 ='RobotoCondensed-Regular'
$fonttext_o1 = 'RobotoCondensed-Regular'
$fonttext_o2 = 'RobotoCondensed-Regular'
$font_size_h1 = 25px
$font_size_h2 = 19px
#content
	.bredcrumb, .page_breadcrumb, .breadcrumb
		margin-top 10px
		padding-bottom 5px
		margin-bottom 20px
.shopping_cart
	p
		font-size 12px
	h2
		font-size $font_size_h2
		margin 0px 0 0px 0px
		letter-spacing -1px
		display inline-block
		color #000
		font-family $fonttext_f3
		text-transform none
		font-weight normal
		padding 0 15px 0 0
	.options_group
		margin 10px 0 0 0
		float left
		display none
		.btn_buying
			border-radius  4px 4px 4px 4px
			-moz-border-radius  4px 4px 4px 4px
			-webkit-border-radius  4px 4px 4px 4px
			border  1px solid #f6ca43
			background #faf5e4
			color #cba113
			height 29px
			padding 4px 20px 0
			font-size 16px
			text-transform none
			&:hover
				background $color_t
				border-color $color_t
	.inf
		margin 10px 0 0 0
		float left
		display block
		.btn_buying
			color  #fff
			background-color  #000
			border-color  #000
			font-size  16px
			font-weight  normal
			padding 7px 20px 5px 20px
			border-radius 0px
			font-family $fonttext_o1
			height auto
			margin 10px 0 0 0
			text-transform none
			&:hover
				background $color_t
				border-color $color_t

	.items_subtotal
		float right
		margin 10px 0 0 0
		strong
			color #000
			font-size 17px
			font-weight normal
			font-family $fonttext_f1
			b
				color $color_p
				font-size 20px
				padding 0 0 0 15px
		/*#subtotal_itms
			display none*/

	.save_later
		width 100%
		display inline-block
		margin 70px 0 50px 0

	.product_list
		.row_header
			border-bottom  1px solid $color_p
			margin  -12px 0 0px 0
			padding  0 0 5px 0
			.title
				font-size 14px
				font-family $fonttext_o2
				text-transform none
				width 100%
				text-align right
				display block
			.title_right
				text-align right
				font-size 14px
				font-family $fonttext_o2
				text-transform none
				width 100%
				display block
		.row_item
			display block
			padding 25px 0 25px 0
			border-bottom 1px solid #dde0e2
			p
				color $color_p
				font-size 17px
				line-height 22px
				text-transform none
				font-family $fonttext_o2
			img
				margin-left -10px
			.valign_height
				margin 20px 0 0 0
				float left
				width 100%
			.product_item_options
				font-size 14px
				color $color_p
				font-family $fonttext_o1
				i
					font-style normal
					width 100%
					display block
					float left
					font-size 14px
				b
					float left
					width 20%
				strong
					width 52%
					color #dfaa05
					float left
				small
					font-style normal
					width 100%
					display block
					float left
					margin 0
					font-size 14px

			.product_item_links
				float left
				margin 3px 0 0 0
				clear both
				a
					color $color_b
					font-size 13px
					cursor pointer
					text-decoration underline
					font-family $fonttext_o2
				span
					color #84cf20
					font-size 13px
					margin 0 10px


			.item_qty
				width 100%
				text-align right
				display block
				input
					width 30px !important
					border  1px solid $color_b
					text-align  center
					color  $color_p
					font-size  14px
					padding  2px 0px
					margin 0 5px 0 0
					background transparent
				span
					display none
					color: #EF8703;
					font-weight: normal;
					line-height: 15px;
					font-size: 12px;
					margin: 10px 0 0 0;
					width: 100%;
					float: left;



			.item_price
				text-align left
				display block
				font-family $fonttext_o2
				span
					color $color_p
					font-size 16px
					width 70px
					display block
					b
						color $color_p
						line-height  15px
						font-size  12px
						margin  10px 0 0 0
						width  100%
						float  right
						text-align  left
						font-weight normal
			.item_subtotal
				width 100%
				text-align right
				display block
				span
					color $color_p
					font-size 16px
					margin 0 2px 0 0
		.saved
			border-top 1px solid #dde0e2
			border-bottom none


/*****-*******/
#content
	.product_recomen
		h2
			border-bottom  2px solid #dde0e2
			padding 0 0 10px 0
			color: #5d5d5d;
			font-size $font_size_h2
			text-align: left;
			padding: 0 0 10px 0;
			letter-spacing: -1px;
			margin: 5px 0 5px;
			font-weight: normal;
			width: 100%;
			float: left;

	.product_recommend
		h2
			color: #5d5d5d;
			font-size: $font_size_h2
			text-align: left;
			padding: 0 0 10px 0;
			letter-spacing: -1px;
			margin: 40px 0 20px;
			font-weight: normal;
			width: 100%;
			float: left;
			border-bottom  1px solid $color_title
			padding 0 0 10px 0
			span
				font-size $font_size_h2
				letter-spacing 0px
	.product_view_recent
		margin-top 70px
		margin-left 10px
	/*
		h2
			color: #5d5d5d;
			font-size: 22px;
			text-align: left;
			padding: 0 0 10px 0;
			letter-spacing: -1px;
			margin: 40px 0 20px;
			font-weight: normal;
			width: 100%;
			float: left;
			border-bottom  1px solid #dde0e2
			padding 0 0 10px 0
			span
				font-size 15px
				letter-spacing 0px*/
	.product_message
		display block
		margin 15px 0 0 0
		border-top 1px solid #dde0e2
		padding 15px 0 0 0
		p
			font-size 13px

	//border-bottom 1px solid #ededed

.cart_section_right
	margin 47px 0 0 0
	.summary_product
		border-radius 0px
		border none
		background #EAEAEA
		padding 25px 20px 20px 20px

		strong
			color $color_int
			display block
			font-size 36px
			font-weight normal
			letter-spacing -1px
			text-align center
			width 100%
			font-family $fonttext_o2
		span
			width 40%
			margin 0 0 0 4%
			text-align left
			float left
			padding 10px 0 0 0
			color #000
			font-weight bold
			font-size 13px

		i
			color $color_t
			display inline-block
			font-style normal
			font-weight normal
			font-family $fonttext_o2
			margin 0px
			text-align center
			width 100%
			font-size 17px
		.checkout
			clear left
			&:hover
				color #ffffff
				// background $color_s
		.checkout_button
			color #ffffff
			background-color #000
			border-color #000
			font-size 25px
			font-family $fonttext_o1
			font-weight normal
			padding 7px 15px 5px 15px
			width 100%
			margin 10px 0 0 0
			&:hover
				background $color_t
				border-color $color_t
		.guest_button
			color #fff
			background-color $color_b
			border-color $color_b
			font-size 15px
			font-family $fonttext_o1
			font-weight normal
			padding 7px 15px 5px 15px
			width 100%
			margin 10px 0 0 0
			&:hover
				background $color_b
				border-color $color_b
		.desc
			display none
			width 70%
			float left
			span
				font-size 13px
			select
				width 75%
				height 25px
			input
				width 20%
				height 25px
				border 1px solid #f3f3f3
		.shipping
			width 30%
			float right
			text-align right
			display none

	.codepromotion
		border-radius 0px
		-moz-border-radius 0px
		-webkit-border-radius 0px
		border none
		padding 0 30px 25px 30px
		float left
		width 100%
		background #efefef
		i
			font-size 13px
			font-style normal

	.info_confidence
		border-radius  5px 5px 0px 0px
		-moz-border-radius  5px 5px 0px 0px
		-webkit-border-radius  5px 5px 0px 0px
		border 1px solid #e6e6e6
		background #ffffff
		padding 20px
		float left
		width 100%
		margin 30px 0 0 0
		h4
			font-size 20px
			font-weight bold
			letter-spacing -1px
			margin 5px 0 15px 0
		ul
			list-style none
			padding 0px
			margin 0 0 10px 0
			li
				font-size 13px
				line-height 20px
				i
					color $color_int
					margin 0 10px 0 0
		strong
			font-size 20px
			font-weight bold
			letter-spacing -1px
			margin 25px 0 15px 0
			float left
			width 100%
		img
			margin 0 0 15px 0
			display block

		.phone
			font-size 30px
			color #000
			font-family Roboto Condensed
			margin 35px 0 0 0
			display block
			i
				color $color_int
				margin 0 10px 0 0
				text-align left

		.mail
			font-size 19px
			color #000
			font-family Roboto Condensed
			margin 5px 0 0 0
			display block
			i
				color $color_int
				margin 0 15px 0 5px









//@media (min-width:1200px)

@media (min-width:992px) and (max-width:1199px)
	.information_pay
		.mail
			font-size 21px


@media (min-width:768px) and (max-width:991px)

	.cart_section_right
		.info_confidence
			.phone
				font-size 22px
			.mail
				font-size 13px
	.shopping_cart
		.product_list
			.row_item
				.item_qty
					text-align center
				.item_price
					display none

@media (max-width:767px)
	.shopping_cart
		.save_later
			display none
		.items_subtotal
			display none
		.inf
			display block

		.product_list
			.row_item
				p
					font-size 14px
					line-height 18px

				.product_item_options
					i
						display none
					b
						width 100%
					strong
						width 100%

				.product_item_links
					margin 0px
					a
						width 100%
						float left
					span
						display none

				.item_qty, .item_price, .item_subtotal
					margin 10px 0 0 0





/*
@media (max-width:479px)
*/
