//@import 'nib'
//@import 'nib/gradients'
$color_p = #000
$color_s = #212121
$color_t = #3D3D3D
$color_f = #d7ab9e
$color_b = #797979
$color_int = #000
$color_title = #000
$fonttext = 'Arial'
$fonttext_f1 ='RobotoCondensed-Bold'
$fonttext_f2 ='RobotoCondensed-Regular'
$fonttext_f3 ='RobotoCondensed-Regular'
$fonttext_o1 = 'RobotoCondensed-Regular'
$fonttext_o2 = 'RobotoCondensed-Regular'
$font_size_h1 = 25px
$font_size_h2 = 19px
/*COLUM LEFT*/
.sidebar_filter
	padding-bottom 30px
	margin 0px 0 0 0
	/* change h3*/
	h2
		color:#808080
		font-family:inherit
		margin:0 0 10px
		a
			color:#808080
			text-decoration:none
			&:hover
				color:#808080
				text-decoration:none
	/* change h2*/
	h3
		big
			width 22px
			height 22px
			padding 0 5px 0 0
			float left
			background-position -71px -75px
	h4
		color #000000
		font-family inherit
		border-bottom 1px solid #ededed
		padding 4px 0 5px 0
		margin 15px 0 5px
		letter-spacing -1px
		font-size 18px;

		a
			color #777777
			text-decoration none

			&:hover
				color:#808080
				text-decoration:none
	h2
		color #000000
		// border-bottom 1px solid #000
		padding 4px 0 5px 0
		margin 15px 0 10px
		font-size $font_size_h2
		font-family $fonttext_f3
		font-weight normal
		text-transform capitalize
		letter-spacing -1px

		a
			color #777777
			text-decoration none

			&:hover
				color:#808080
				text-decoration:none
	ul
		padding:0px 0 0px 0
	li
		font-family $fonttext_o2
		color:#191919
		line-height 17px
		padding:0 0 0px 0
		list-style-type:none
		text-transform uppercase
		a
			font-family $fonttext_o2
			font-size 13px
			color #777
			display block
			padding 0 0 5px 12px
			text-decoration none
			text-transform none
			&:hover
				text-decoration none
				color:#808080
	.menu_content
		display block
		margin -15px 0 0 0
		a
			color #000
			font-size 13px
			padding-left 0px
		ul
			li
				strong
					display none
				a
					margin 5px 0 0 0
					text-decoration none
					span
						border-bottom 2px solid #000
					b
						display none
						width 16px
						height 17px
						float right
						background url(../../images/common/ico-check.jpg) no-repeat
		li
			a
				margin 5px 0 0 0
				span
					border-bottom 2px solid #000
				b
					display none
					width 16px
					height 17px
					float right
					background url(../../images/common/ico-check.jpg) no-repeat
		.item_name
			li
				a
					margin 0px
					b
						width 16px
						height 17px
						float right
						background url(../../images/common/ico-check.jpg) no-repeat
	.sidebar_subcate_popular
		padding-bottom:0px
		padding-top:0px
	.sidebar_subcate_popular
		h3
			color:#808080
			font-family:inherit
			margin:0 0 10px

			a
				color:#808080
				text-decoration:none

				&:hover
					color:#808080
					text-decoration:none
		big
			width:22px
			height:22px
			padding:0 5px 0 0
			float:left
			background:url(../images/common/sprite_white.jpg) no-repeat
			background-position:-71px -75px
		h4
			color:#808080
			font-family:inherit
			padding:5px 0 8px 0


			a
				color:#808080
				text-decoration:none

				&:hover
					color:#808080
					text-decoration:none
		ul
			padding:0px 0 20px 0
		li
			font-family:inherit
			font-size:12px
			color:#191919
			line-height:22px
			padding:0 0 1px 0
			list-style-type:none

			a
				font-family:inherit
				font-size:16px
				color:#454545
				padding:0
				text-decoration:none

				&:hover
					text-decoration:none
					color:#000
		.menu_content
			display:block

/*COLUM RIGHT*/
//.section_products


.pagination_wrapper
	height:35px
	margin-bottom:15px
	text-align:center
	clear:both
	.elmpage_page_prods_foot
		min-height 30px
		margin-bottom 15px
		width 100%
		text-align center

		big
			color $color_int
			padding 0 10px

		strong,span,small
			color $color_t
			margin:0px 0px 0px 0px
			font-weight:normal
			font-size 16px
		small
			font-size:16px
			margin:0 7px


		span
			font-size:10pt


		a
			margin:0px 5px 0px 5px
			color:#808080
			text-align:center
			cursor:pointer
			text-decoration:none
.descript_prod
	strong
		border-bottom 1px solid #ededed
		color #5d5d5d
		display block
		font-size 22px
		font-weight normal
		letter-spacing -1px
		margin 0 10px 25px 0
		padding 0 0 5px
		text-align left
		width 100%
	p
		text-align justify
	/*CAPTURATE MAIL*/
.tellme_mail
	width 100%
	background #f7f7f7
	margin 0 0 0px 0
	display inline-block
	font-family Roboto Condensed
	p
		font-size 18px
		font-family Roboto Condensed
		margin 19px 0 5px 12px
	.form_tellme_mail
		margin 15px 5px 15px 0
		display inline-block
		width 100%
		.txt_tellme_mail
			width 69%
			float left
			color #999
			text-align left
			height 32px
			border 1px solid #eee
			padding 0 0 0 5px

		.btn_tellme_mail
			width 28%
			float left
			background $color_p
			color #fff
			border none
			text-align center
			height 32px
			font-family Roboto Condensed
.h1_title
	display inline-block
	width 100%

	h1
		font-size $font_size_h1
		margin 0px 0 0px -10px
		letter-spacing -1px
		display inline-block
		color #000
		font-family $fonttext_f3
		text-transform none
		font-weight normal
		padding 0 15px 0 0px

.showing
	display inline-block
	width 100%
	margin 10px 0px 5px

.showing_text
	text-align:left
	margin 0 0 0 -10px
	font-size 14px
	color #777
	display block
	span
		color #808080
		display inline-block
		padding 0 10px
		a
			color #808080
.showing_link
	text-align right
	font-size 14px
	color #808080
	display block
	margin 0 0 10px 0
	a
		color:#777
		font-size 13px
	span
		color #777
	select
		width 150px
		font-size 13px



/**CATALOG**/
#filters
	margin 0 0 0px 0px
	padding 0px
	a
		background-image url(../../images/common/filter_icocerrar.png)
		background-repeat no-repeat
		background-position right 3px
		background-color #808080
		padding 7px 40px 7px 15px
		text-align left
		display inline-block
		color #fff
		border-radius 4px
		margin 0 8px 0 0
		text-decoration none
		&:hover
			background-color #000



.item_container
	border 1px solid #FFFFFF
	cursor pointer
	background #fff
	margin 0 0 35px
	position relative
	overflow hidden
	&:hover
		border 1px solid #CCCCCC
		box-shadow 1px 1px 3px rgba(0, 0, 0, 0.3)
		cursor default
	.item_image
		display block
		float left
		width 90
		margin 0 5px 0 0
	.item_name
		color #454545
		font-size 13px
		text-align left
		height auto
		padding-top 15px
		padding-right 0
		padding-bottom 5px
		padding-left 0
		text-align  left
		a
			color #454545
			font-size 17px
		p
			font-size 11px
			margin 0 0 2px 0
			color #9c9c9c
			a
				color #9c9c9c
				font-size 11px
				margin 0 0 2px

		.entercateg
			color #ff393a
			font-size 13px
.categ_subcateg
	border 1px solid #FFFFFF
	background #fff
	margin 0 0 35px
	position relative
	overflow hidden
	/*&:hover
		border 1px solid #CCCCCC
		box-shadow 1px 1px 3px rgba(0, 0, 0, 0.3)
		cursor default*/
	.item_image
		display block
		float left
		width 90
		margin 0 5px 0 0
	.item_name
		color #454545
		font-size 13px
		text-align left
		height auto
		padding-top 30px
		padding-right 0
		padding-bottom 5px
		padding-left 0
		text-align  left
		strong
			a
				color #454545
				font-size 17px
				font-weight normal
				display block
				margin 0 0 10px 0
		a
			color #9c9c9c
			font-size 12px
			font-weight normal
			margin 0 0 2px 10px
			display block
			&:hover
				color #808080

		.entercateg
			color #ff393a
			font-size 13px
	a
		color #4e4e4e
		font-size 12px
		margin 5px 0 0 10px
.content_popular
	margin:0px 0
	padding:30px 0 20px 0
	h1
		color $color_p
		text-align center
		padding 10px 0 26px 0
	h3
		color $color_p
		font-size 22px
		text-align left
		padding 0px 0px 5px 0px
		margin 0px 0 0 0
		letter-spacing -1px
		margin 0 10px 25px
		border-bottom 1px solid #ededed
	.href
		a
			color #454545
			text-decoration none
			&:hover
				color #2A6496
				text-decoration none
.categorias_popl
	margin:30px 0 0 0
	padding:20px 0 0 0
	h2
		text-align center
		color #808080
		margin 10px 0 0 0
	section
		h2
			color #5d5d5d
			font-size $font_size_h2
			text-align left
			padding 0px 0px 5px 0px
			margin 0px 0 0 0
			letter-spacing -1px
			margin 0 10px 25px
			border-bottom 1px solid #ededed
			font-weight normal
			width 100%
			float left
	.see_more
		text-align:right
		margin:0 0 10px 0
		a
			color:#c00008
			padding:0 10px 0 0
	.disableprod
		display block
.liststors
	margin 40px 0 20px 0
	h2
		color #5d5d5d
		font-size $font_size_h2
		text-align left
		padding 0px 0px 5px 0px
		margin 0px 0 0 0
		letter-spacing -1px
		margin 0 10px 25px
		border-bottom 1px solid #ededed
		font-weight normal

	.img
		img
			margin 0 2% 10px
			display block
			float left

/** LIGTH BOX - MODAL **/
.modal-backdrop
	display none

.modal
	&.fade
		.modal-dialog
			transform translate(0px, 0%)
			transition transform 0.3s ease-out 0s
			-webkit-transform scale(0.6)
			transform scale(0.6)

.modal
	&.in
		.modal-dialog
			-webkit-transform: scale(1);
			transform: scale(1);

.modal
	.modal-dialog
		width 695px
		margin 10% auto 0 auto
		.modal-content
			box-shadow 0 2px 5px rgba(0, 0, 0, 0.3)
		.modal-header
			padding 8px 0 10px 0
			border-bottom none
			.close
				margin 3px 10px 0 0
				opacity 1
				span
					font-size 13px
					color #000
					font-weight normal

		.modal-body
			.img_prod
				border-right 1px solid #E6E6E6
				.img_max
					display block
					margin 0 0 15px 0
				.img_min
					padding 0 20px
					img
						width 80px
			.descrip_prod
				padding 0 0 0 35px
				display block
				i
					font-style normal
				strong
					font-size 23px
					font-weight normal
					margin 0 0 25px 0
					display block
					line-height 24px


				p
					margin 0px
					color #000
					span
						color #888888
						width 45px
						display inline-block
						margin 8px 0 8px
					select
						width 50%
						height 23px
						border 1px solid #e6e6e6
						border-radius 0px
						background #F2F2F2
					i
						font-size 15px

				b
					color #3FA9F5
					margin 15px 10px 0 0
					font-size 20px
					font-weight normal
					display block
					span
						margin 10px 10px 4px 0px
						font-size 37px
						color #c00008
				small
					width 100%
					display inline-block
					margin 80px 0 0 0
					text-align right
					p
						span
							font-size 15px
							float left
							text-align left
						input[type="text"]
							height 33px
							border 1px solid #ccc
							margin 3px 0 0 5px
							width 73px
							float left
							text-align center
							font-size 15px
						.btn-addtocart
							padding 6px 60px
							font-size 17px
							margin 0 0 0 10px
							float right
				.moreinfo
					text-align right
					margin 10px 0 0 0
					display block
					a
						text-decoration none
						color #000


			/* SALEFORM POSITION LEFT */
			.saleform_product_images
				strong
					font-size $font_size_h1
					margin-top 0px
					margin-bottom 20px
					font-family $fonttext_o1
					text-transform capitalize
					color $color_title
					display inline-block
					width 100%
				.product_thumbnails_side

					margin 0px 0 0 -10px
					img
						border 1px solid #eeeeee
						padding 0 8px
						margin 0 0 9px 0
						&:hover
							border 1px solid #606060
					.active
						border 1px solid #606060
						padding 0 8px
						margin 0 0 10px 0
				.product_image_full
					text-align center
					h1
						font-size $font_size_h1
						text-align center
						margin 5px 0 18px
						line-height 22px
					img
						text-align center
						display inline-block
				.product_thumbnails_color
					margin 20px 0 0 0
					img
						border 1px solid #fff
						padding 0 3px
						margin 0 10px
						float left
						&:hover
							border 1px solid #606060
					.active
						border 1px solid #606060
						padding 0 3px
						margin 0 10px

  		/* SALEFORM OPTION POSITION RIGHT */
			.saleform_options
				.saleform_product_form
					padding 20px 36px 20px -20px
					margin 50px 0 0
					b
						width 100%
						text-align left
						color #999
						font-weight normal
						text-decoration line-through
						display inline-block
						font-size 17px

					#spnPricesInit
						color  $color_title
						display  block
						font-size  15px
						font-weight  normal
						letter-spacing  -1px
						width  100%
						font-family $fonttext_o2
						line-height 40px
					.product_summ_total, #spnItmPrice
						color  $color_title
						display  block
						font-size  30px
						font-weight  normal
						letter-spacing  -1px
						width  100%
						font-family $fonttext_o2
					/*#spnPricesInit
						font-size 20px*/
					i
						font-family $fonttext_o2
						font-size 18px
						text-align left
						display block
						width 100%
						color $color_t
						font-weight normal
						text-transform none
						font-style normal
						margin 0 0 30px

          /*
					.product_select_size, .product_select_talla
						width 100%
						margin 5px 0 5px 0
						height 33px
						padding 0
						font-size 14px
						span
							width 30%
							padding 3px 0 0 0px
							float left
							text-transform none
							font-family $fonttext_o1
							font-size 16px
						select
							width 60%
							border 1px solid #ccc
							float left
							height 30px
							background #f9f9f9
							text-align left
							color #999
							border-radius 0px
							color $color_t
					*/




					#cont_atrb_group
						div
							width 100%
							margin 5px 0 5px 0
							height 33px
							padding 0
							font-size 14px
							span
								width 30%
								padding 3px 0 0 0px
								float left
								text-transform none
								font-family $fonttext_o1
								font-size 16px
							select
								width 60%
								border 1px solid #ccc
								float left
								height 30px
								background #f9f9f9
								text-align left
								color #999
								border-radius 0px
								color $color_t



					.product_select_color
						width 100%
						margin 5px 0 5px 0
						height 33px
						padding 0
						font-size 14px
						span
							width 30%
							padding 3px 0 0 0px
							float left
							text-transform none
							font-family $fonttext_o1
							font-size 16px
						select
							width 60%
							border 1px solid #ccc
							float left
							height 30px
							background #f9f9f9
							text-align left
							color #999
							border-radius 0px
							color $color_t

					.product_select_qty
						width 100%
						margin 5px 0 5px 0
						height 33px
						padding 0
						font-size 14px

						span
							width 40%
							padding 3px 0 0 0px
							float left
							text-transform none
							font-family $fonttext_o1
							font-size 14px
						select
							width 60%
							border 1px solid #ccc
							float left
							height 30px
							background #f9f9f9
							text-align center
							color #999
							border-radius 0px
							color $color_t

					.product_qty_10
						float right
						width 30%
						margin 5px 0 15px
						background #f9f9f9
						border 1px solid #cdcdcd
						height 33px
						background #f1f1f1

					.btn_addcart
						width 100%
						font-size 20px
						margin 35px 0 15px
						display inline-block
						background-color $color_int
						white-space normal
						padding 15px 25px 15px 60px
						text-align left
						border 1px solid $color_int
						font normal
						line-height 22px
						font-family $fonttext_f3
						letter-spacing -1px
						background-image url(../../images/common/cart.png)
						background-repeat no-repeat
						background-position 18px	15px
						text-transform none
						&:hover
							color #fff
							background $color_t
							background-image url(../../images/common/cart.png)
							background-repeat no-repeat
							background-position 18px	15px
							border 1px solid $color_int

					.product_social
						width 100%
						display none
						text-align center
						font-weight normal
						b
							margin 8px 0 6px 0
							width 100%
							display block
				.tellme_mail
					padding 20px 35px 15px
					float left
					width 100%
					text-align justify
					margin 5px 0 0 0
					background #ffffff
					border 1px solid #e6e6e6
					p
						font-size 13px
						text-align center
						font-weight normal
						color #333333
						margin 5px 0 5px 0px
					input[type='text']
						width 66%
						display block
						float left
						height 30px
						border 1px solid #dcdcdc
						color #6b6b6b
						padding 0 0 0 10px
					input[type='button']
						background $color_p
						border none
						color #ffffff
						padding 0px
						width 34%
						display block
						float left
						height 30px
				.saleform_ad_mail
					padding 17px 5px 10px
					float left
					width 100%
					text-align justify
					p
						font-size 13px
						text-align center
						font-weight bold
						color #333333
					.mailclie
						width 66%
						display block
						float left
						height 30px
						border 1px solid #dcdcdc
						color #6b6b6b
						padding 0 0 0 10px
					.btnmail
						background $color_p
						border none
						color #ffffff
						padding 0px
						width 34%
						display block
						float left
						height 30px









/** LIGTH BOX - MODAL**/
#msg_prod_summ_cntn
	display none
	.modal-header
		padding 30px 10px 20px 0
		border-bottom 0px
		h3
			font-size 22px
			text-align center
			display block
			font-family $fonttext_o1
			text-transform none
			color $color_title
			border-bottom 1px solid $color_p
			margin 0 auto
			width 60%
	.modal-body
		padding 20px 40px
		i
			font-style normal
			font-size 17px
		strong
			font-size 14px
			font-weight normal
			margin 0 0 10px 30px
			display block
			line-height 17px
			color $color_p
			text-transform uppercase
			font-family $fonttext_o2

		p
			margin 0px 0 0 30px
			color $color_p
			font-family $fonttext_o1
			font-size 14px
			span
				display inline-block
		b
			border-top 1px solid $color_title
			margin 25px 0 4px 30px
			display inline-block
			font-size 14px
			color $color_p
			font-weight normal
			width 92%
			padding 10px 0 0 0
			span
				color $color_p
				margin 0 10px 0 0
				font-size 17px
				font-weight normal



		small
			display inline-block
			margin 30px 0 60px 40px
			text-align left
			.btn-action
				color #fff
				background-color $color_b
				border 1px solid $color_b
				font-size 16px
				font-weight normal
				padding 10px 10px 8px 10px
				margin 0 20px 0 0
				text-transform none
			.btn-pay
				color #fff
				background-color #000
				border 1px solid  #000
				font-size 16px
				font-weight normal
				padding 10px 20px 8px 20px
				text-transform none
				&:hover
					background $color_t
					border 1px solid $color_t


	.modal-footer
		display inline-block
		height 0px
		width 100%
		border none
		height auto
		padding 0px
		margin 0px

	.btn-pay
		background #df000c
		border 1px solid #df000c
		color #ffffff
		padding 6px 25px
		&:hover
			background #c00008
			border 1px solid #df000c
			color #ffffff



		.modal-footer
			display inline-block
			width 100%
			border none
			height 0px
			padding 5px 0 0 0

		.btn-pay
			background $color_p
			border 1px solid $color_p
			color #ffffff
			padding 6px 25px
			&:hover
				background $color_b
				border 1px solid $color_b
				color #ffffff

.product_view_recent
	h2
		font-size $font_size_h2
		letter-spacing -1px
		margin 0 0 20px








/*********ZOOM IMAGE**********/

/* div that surrounds Cloud Zoom image and content slider. */
#surround
	min-width  175px
	max-width  450px
/* Image expands to width of surround */
img.cloudzoom
	width 100%
/* CSS for slider - will expand to width of surround */
#slider1
	margin-right 20px
	position relative
	display  block

#slider1 ul li
	width  82px
/* Cloud Zoom CSS. (c)2012-2013 Star Plugins. */
/* CSS for lens */
.cloudzoom-lens
	border 5px solid #888
	width 100px
	height 100px
	box-shadow  -0px -0px 10px rgba(0,0,0,0.40)
	cursor crosshair
	z-index  10
/* CSS for zoom window. */
.cloudzoom-zoom
	border 1px solid #888
	width 230px !important
	height 288px
	box-shadow  -0px -0px 10px rgba(0,0,0,0.40)
	z-index 9999
	margin  0 0 0 -25px
.cloudzoom-zoom img
	width 300px !important
	height 360px !important
	margin  -19% 0 0 -41%

/* CSS for zoom window in 'inside' mode. */
.cloudzoom-zoom-inside
	border none
	box-shadow none
	z-index 9999

/* CSS for captions */
.cloudzoom-caption
	display none !important   /* CSS captions should be hidden initially */
	text-align  left
	background-color #000
	color #fff
	font-weight bold
	padding 10px
	font-family  sans-serif
	font-size 11px

/* A blank image */
.cloudzoom-blank
	background-image url(blank.png)
	display  none
/* The animated ajax loading image */
.cloudzoom-ajax-loader
	background-image url(ajax-loader.gif)
	width 32px
	height 32px


@media (min-width:768px) and (max-width:991px)
	.browse
		display none

	.box_design_full
		.img_static
			img
				width 100%


	.showing_text
		span
			padding 0 5px
	.showing_link
		margin -21px 0 10px 0
		position absolute
		right 0




@media (max-width:767px)
	.bredcrumb, .page_breadcrumb, .breadcrumb
		overflow visible
		text-align left
		margin-top 10px
		margin-bottom 10px
		float left
		width 100%
		border-bottom 1px solid $color_t
		padding-bottom 5px

	.catalog_bnr
		margin 0px 0 0 0

	.h1_title
		h1
			display none

	.box_design_full
		.img_static
			.preview
				display none !important


// modificaciones para el catalogo

.box_design_full
	//border:1px solid #FFFFFF
	cursor:pointer
	margin:0 0 10px
	padding:3% 1px 3% 2px
	position:relative
	text-align:center
	min-height:320px
	&:hover
		//border:1px solid $color_int
		//box-shadow:1px 1px 3px rgba(0, 0, 0, 0.3)

	.img_static
		display:inline-block
		height auto
		width 100%
		text-align center
		img
			display inline-block
		.preview
			position absolute
			color #696969
			width 100%
			height 50px
			display none
			margin 0 0px
			z-index 10000
			padding 8px 0 0 0
			top 55%
			a
				cursor pointer
				border none
				padding 4px 8px
				font-size 12px
				text-decoration none
				display inline-block
				border-radius 2px
				width 140px
				// background rgba(255, 255, 255, 0.8)
				 background #eee
				text-align center
				margin 0px
				font-weight normal
				color #000
				font-family $fonttext_o2
				text-transform uppercase

	.img_static_one
		display:block
		overflow:hidden
		text-align:center

	.img-wrap
		background none repeat scroll 0 0 #FFFFFF
		height 100%
		overflow hidden
		padding-bottom 100%
		position relative
		width 99%
	.design_price
		color $color_int
		font-size:17px
		text-align:center
		/*TEMPORAL*/
		b
			display none
		strong
			font-weight normal
			font-family $fonttext_f1
			text-transform none
	.design_name
		text-align center
		color #454545
		padding 0 15px 3px 15px
		font-size 13px
		padding 10px 0 0px 0
		border-top none
		margin 25px 0 0 0
		font-family $fonttext_o2
		text-transform capitalize
		a
			color $color_t
			font-size 13px
			text-decoration none
	.order
		display block
		margin 10px 0 0 0
		b
			font-weight normal
			float left
			font-size 13px
			width 100%
			margin 15px 0 0 0
			a
				-moz-user-select none
				background-color transparent
				background-image none
				border 0 solid #fff
				border-radius 0
				color #999
				cursor pointer
				display inline-block
				font-size 13px
				font-weight normal
				line-height 1.42857
				margin 0
				padding 0 12px
				text-align center
				text-decoration underline
				vertical-align middle
				white-space nowrap
		a
			margin 5px 0 10px 0
			-moz-user-select none
			background-image none
			border 1px solid transparent
			border-radius 4px
			cursor pointer
			display inline-block
			font-size 14px
			font-weight normal
			line-height 1.42857
			padding 6px 22px
			text-align center
			vertical-align middle
			white-space nowrap
			background-color #0E7513
			border-color #0E7513
			color #fff
			text-decoration none
			font-family Roboto Condensed
		img
			width 140px
			clear both

		.visible_mobile
			display none