$color_p = #000
$color_s = #212121
$color_t = #3D3D3D
$color_f = #d7ab9e
$color_b = #797979
$color_int = #000
$color_title = #000
$fonttext = 'Arial'
$fonttext_f1 ='RobotoCondensed-Bold'
$fonttext_f2 ='RobotoCondensed-Regular'
$fonttext_f3 ='RobotoCondensed-Regular'
$fonttext_o1 = 'RobotoCondensed-Regular'
$fonttext_o2 = 'RobotoCondensed-Regular'
$font_size_h1 = 25px
$font_size_h2 = 19px

#content
	.page_breadcrumb
		margin-top 10px
		padding-bottom 5px
		margin-bottom 0px
.checkout

	h2
		font-family $fonttext_f2
		text-align left
		border-bottom 0px
		text-transform none
		font-size $font_size_h2
		color $color_title
		line-height 20px
		margin 10px 10px 10px 0px
		padding 0px 0 0px 0
		letter-spacing -1px
	.step
		display block
		float left
		width 100%
		margin 0 0 20px
		big
			display none
		strong
			font-size 17px
			color $color_p
			font-family $fonttext_o2
			width 100%
			float left
			margin 10px 0 25px 0
			text-transform none
			border-bottom 1px solid $color_title
			padding 0px 0 4px 0
			font-weight normal
			span
				font-size 15px
				color $color_p
				font-weight normal
			.same_as
				margin 10px 12px 0 20px
				label
					font-size 15px
					font-weight normal
					text-transform none
					color $color_p


		.shipping_addres
			label
				width 32%
				float left
				font-weight normal
				font-size 13px
				font-family $fonttext_o2
				color $color_p
			input[type='text']
				width 68%
				float left
				height 30px
				margin 0 0 10px 0
				border-radius 0px
				border 1px solid #CCCCCC
				background #fff
			select
				width 68%
				float left
				height 30px
				margin 0 0 10px 0
				border-radius 0px
				border 1px solid #CCCCCC
				background #fff
		.your_contact
			label
				width 32%
				float left
				font-weight normal
				font-size 13px
				font-family $fonttext_o2
				color $color_p
			input[type='text']
				width 68%
				float left
				height 30px
				margin 0 0 10px 0
				border-radius 0px
				border 1px solid #CCCCCC
			select
				width 68%
				float left
				height 30px
				margin 0 0 10px 0
				border-radius 0px
				border 1px solid #CCCCCC
				background #fff
		.payment_method
			label
				width 32%
				float left
				font-weight normal
			.img_payment_method
				width 68%
				float left
				height 50px
				margin 0 0 10px 0


		#facturacion_rbtn
			.radio
				margin-left 10px
				label
					span
						margin 4px 0 0 0
						display inline-block

  /* SUMMARY - POSITION RIGHT */
	.summary_checkout
		.form_group
			border-radius  0px
			-moz-border-radius  0px
			-webkit-border-radius  0px
			border none
			background #EAEAEA
			padding 30px 30px
			margin 75px 0 0 0
			.summ_total
				margin 0px 0 0 0
				display block
				strong
					font-size 23px
					text-transform none
					color $color_p
					font-weight normal
					margin 0px 0 15px 0
					float left
					text-align center
					width 100%
					font-family $fonttext_o1
				p
					font-size 16px
					display inline-block
					font-family $fonttext_o2
					width 100%
					margin 0 0 6px 0
					text-transform none
					color $color_p
					span
						float left
					b
						float right
						font-size 17px
						font-weight normal
				.item
					border-bottom 1px solid $color_int
					padding 5px 0
					font-size 16px
					margin 0 0 12px 0
				.discount
					color $color_p
					b
						color $color_p
				.total
					margin 3px 0 15px 0
					display inline-block
					color $color_p
					font-weight normal
					border-top 1px solid $color_int
					padding 12px 0 0 0
					font-size 17px
					span
						color $color_p
						font-size 19px
						font-family $fonttext_o1
					b
						color $color_p
						font-size 19px
						font-family $fonttext_o1
			.coupons
				display inline-block
				margin 20px 0 25px 0
				width 100%
				p
					color $color_p
					font-size 15px
					text-align left
				input
					width 65%
					float left
					border none
					border-radius 0px
					height 28px
				button
					width 35%
					height 28px
					float left
					background $color_t
					color #fff
					text-align center
					border 0px
					border-radius 0px
					padding 0px 0 0 0
			.btn_pay
				color #fff
				background-color #000
				border-color #000
				font-size 24px
				font-weight normal
				padding 7px 15px 7px 15px
				width 100%
				&:hover
					background $color_b
					border-color $color_b

#msg_prod_summ_cntn h3{font-weight:normal;color:#224364;text-align:center}
#msg_prod_summ_cntn strong{font-weight:normal;font-size:17px;}
#msg_prod_summ_cntn b{font-weight:normal;font-size:17px;width: 50%; float:left}
#msg_prod_summ_cntn u{font-weight:bold;font-size:25px;font-style:normal;color:$color_p;text-decoration:none;line-height:21px;display: inline-block; width: 45%; margin: 12px 0 0 5%; text-align: left}
#msg_prod_summ_cntn .modal-body{text-align:center}
#msg_prod_sze_cntn{position:absolute;z-index:1006;font-family:inherit;overflow:auto;width:300px;min-height:100px;padding:10px;top:50%;left:50%;text-align:center;background-color:#fff;display:none;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}
#msg_prod_sze_cntn big{display:block;margin-top:0px;font-size:12pt;font-weight:bold;text-align:right;color:#ccc;cursor:pointer;}
#msg_prod_sze_cntn span{display:block;margin:10px 0px 15px 0px;font-size:11pt;text-align:center;line-height:16px;color:#434343;}
#msg_prod_sze_cntn .msg_sze_btn_ok{width:90px;height:30px;margin-top:10px;border:none;cursor:pointer;background:url('../images/interface/sprt_store.png') no-repeat -400px -195px;}



#paymeans_cntn
	.payment_method
		border medium none
		height 50px
		margin 2px 0 10px 0
		width 205px
		display block
		overflow hidden
		img
			position absolute
			width auto
			height auto
			border none
			margin 2px 0px 0px 2px
		.check_address
			display block
			margin 4px 0 15px
		.top_options
			display block
			min-height 32px
			margin 0 0 10px
	.radio
		margin 10px 0 0 0
		label
			width 100%
			font-size 15px
			font-family $fonttext_o1


.process_message
	position absolute
	z-index 1006
	overflow auto
	width 300px
	min-height 130px
	height auto
	padding 10px
	text-align center
	top 50%
	left 50%
	text-align center
	font-family inherit
	background-color #fff
	border 1px solid #404040
	display none
	border-radius 8px
	-moz-border-radius 8px
	-o-border-radius 8px
	-webkit-border-radius 8px
	-ms-border-radius 8px


/* AFFPROCESS */
.idk_prcs_payprcs .info_container {
    padding: 0 -10px;
    margin: 0 0 20px;
    text-align: left;
    width: 100%;

    overflow: hidden;
}

@media (min-width:992px) and (max-width:1199px)
	.checkout
		.step
			.shipping_addres, .your_contact, .payment_method
				label
					font-size 12px

@media (min-width:768px) and (max-width:991px)
	.checkout
		.step
			.shipping_addres, .your_contact, .payment_method
				label
					font-size 12px

	.summary_checkout
		.form_group
			padding 20px 26px
			margin 65px 0 0


@media (max-width:767px)
	.checkout
		.step
			.shipping_addres, .your_contact, .payment_method
				label
					font-size 12px
			strong
				margin-left 10px
			#facturacion_rbtn
				.radio
					margin-left 10px
					label
						span
							margin 4px 0 0 0
							display inline-block

		h2
			margin-left 10px
	.summary_checkout
		margin-left 10px
		margin-right 10px