$color_p = #000
$color_s = #212121
$color_t = #3D3D3D
$color_f = #d7ab9e
$color_b = #797979
$color_int = #000
$color_title = #000
$fonttext = 'Arial'
$fonttext_f1 ='RobotoCondensed-Bold'
$fonttext_f2 ='RobotoCondensed-Regular'
$fonttext_f3 ='RobotoCondensed-Regular'
$fonttext_o1 = 'RobotoCondensed-Regular'
$fonttext_o2 = 'RobotoCondensed-Regular'
$font_size_h1 = 25px
$font_size_h2 = 19px
.review_order
	color #333
	h2
		color #333
		font-size 22px
		text-align left
		padding 0 0 5px 0
		letter-spacing -1px
		margin 5px 0 5px
		font-weight normal
		width 100%
		float left
	.info_order
		margin 0 0 20px
		strong
			font-size 30px
			color #3FA9F5
			font-weight normal
			width 100%
			float left
			margin 10px 0 15px 0
			span
				font-size 22px
				color #3FA9F5
				font-weight normal
		p
			margin 0 0 6px 0
			display block





	/* SUMMARY - POSITION RIGHT */
	.summary_review_order
		.form_group
			border-radius  3px 3px 0px 0px
			-moz-border-radius  3px 3px 0px 0px
			-webkit-border-radius  3px 3px 0px 0px
			border 1px solid #e6e6e6
			background #f1f1f1
			padding 20px 26px
			margin 50px 0 0 0
			.summ_total
				margin 0px 0 0 0
				display block
				strong
					font-size 20px
					color #333
					font-weight normal
					margin 0px 0 15px 0
					float left
					text-align center
					width 100%
				p
					font-size 14px
					display inline-block
					width 100%
					margin 0 0 6px 0
					span
						float left
					b
						float right
						font-size 15px
				.item
					border-bottom 1px solid #CCCCCC
					padding 5px 0
					font-size 16px
				.discount
					color #3fa9f5
					b
						color #3fa9f5
				.total
					margin 3px 0 15px 0
					display inline-block
					color #c00008
					font-weight bold
					border-top 1px solid #CCCCCC
					padding 12px 0 0 0
					font-size 16px
					b
						color #c00008
						font-size 16px
			.img_payment_method
				width  100%
				display inline-block
				height  95px
				background-color #fff
				padding  7px 0 0 7px
				margin  10px 0
				p
					font-weight: bold;
					font-size: 12px;
					text-align: center;
					color: #000;
					margin: 3px 0 5px 0;
			.btn_pay
				width 100%
				height 40px
				font-size 19px
				margin 8px 0 22px 0
				display inline-block
				background #df000c
				border 1px solid #df000c
				-webkit-box-shadow  0px 2px 0px 0px rgba(89,89,89,1)
				-moz-box-shadow  0px 2px 0px 0px rgba(89,89,89,1)
				box-shadow  0px 2px 0px 0px rgba(89,89,89,1)
				&:hover
					color #fff
					background #c00008
					border none
