$color_p = #a6b739
$color_s = #324158
$color_t = #6e7682
$color_f = #d7ab9e
$color_b = #797979
$color_int = #000
$color_title = #000
$fonttext = 'Arial'
$fonttext_f1 ='RobotoCondensed-Bold'
$fonttext_f2 ='Roboto Condensed'
$fonttext_f3 ='RobotoCondensed-Regular'
$fonttext_o1 = 'Roboto Condensed'
$fonttext_o2 = 'Roboto Condensed'
$font_size_h1 = 25px
$font_size_h2 = 19px


/*.content*/
#content, .content
	padding 65px 0 0 0
	display inline-block
	width 100%
	/*#content, .content
		/*padding 65px 0 0 0
		display inline-block
		width 100%*/
	.page_breadcrumb
		padding 10px 0 0 0;
		margin 0 0 0 0;

	.tille_page
		h1
			color $color_s
	.plataforma
		.pasos
			width 80%
			display inline-block
			margin 20px 10%
			border-top 1px solid #c4dbe8
			border-bottom 1px solid #c4dbe8
			padding 20px 0
			.paso1, .paso2, .paso3
				width 100%
				display inline-block
				text-align center
				img
					display inline-block
			p
				font-size 18px
				color $color_s
				margin 10px 0 0 0
			.arrow
				margin 15px 0 0 0
				width 100%
				display inline-block
				text-align center
		.descript_platafrm
			display inline-block
			margin 20px 0
			b
				color $color_p
				font-family $fonttext_f2
				font-size 28px
				font-weight normal
				line-height 30px
				margin 15px 0 20px 0
				display inline-block
				width 100%


	.personaliza
		.pasos
			width 80%
			display inline-block
			margin 20px 10%
			border-top 1px solid #c4dbe8
			border-bottom 1px solid #c4dbe8
			padding 20px 0
			.paso1, .paso2, .paso3
				width 100%
				display inline-block
				text-align center
				img
					display inline-block
			p
				font-size 18px
				color $color_s
				margin 10px 0 0 0
			.arrow
				margin 15px 0 0 0
				width 100%
				display inline-block
				text-align center
		.descript_personaliza
			display inline-block
			margin 20px 0
			b
				color $color_p
				font-family $fonttext_f2
				font-size 28px
				font-weight normal
				line-height 30px
				margin 15px 0 20px 0
				display inline-block
				width 100%


	.caracteristicas
		display inline-block
		margin 20px 0 80px
		h2
			margin 60px 0 10px
		strong
			width 100%
			display inline-block
			padding 0px 0 15px 0
		p
			display inline-block
			width 82%
			margin 30px 0 10px 0
			i
				width 62px
				height 62px
				float left
				margin 0 20px 0 0
			span
				font-size 22px
				display block
				font-family $fonttext_f2
				line-height 21px
				margin 12px 0 0 0
				color $color_t
			.ico-1
				background url("../../images/common/ico-design.png");
				background-repeat no-repeat
				background-position 0 0
			.ico-2
				background url("../../images/common/ico-unlimited.png");
				background-repeat no-repeat
				background-position 0 0
			.ico-3
				background url("../../images/common/ico-excel.png");
				background-repeat no-repeat
				background-position 0 0
			.ico-4
				background url("../../images/common/ico-pays.png");
				background-repeat no-repeat
				background-position 0 0
			.ico-5
				background url("../../images/common/ico-moneys.png");
				background-repeat no-repeat
				background-position 0 0
			.ico-6
				background url("../../images/common/ico-promociones.png");
				background-repeat no-repeat
				background-position 0 0
			.ico-7
				background url("../../images/common/ico-google.png");
				background-repeat no-repeat
				background-position 0 0

			.ico-8
				background url("../../images/common/ico-settings.png");
				background-repeat no-repeat
				background-position 0 0


	.pagos
		//border-bottom 1px solid #ccc
		padding 0 0 60px 0
		h2
			width 70%
			margin 80px 15% 10px
			display inline-block
		.imgpay
			display inline-block
			width 100%
			text-align center
			margin 20px 0
			img
				display inline-block


	.banner-clientes
		margin 30px 0 0px 0
		background #f9f9f9
		padding 35px 0 110px 0
		display inline-block
		width 100%
		h2
			font-size 75px
			font-family $fonttext_f2
			color $color_s
			line-height 50px
		strong
			margin-bottom 30px


		.img_client
			display inline-block
			text-align center
			width 100%
			margin 20px 0 0 0
			img
				display inline-block
		.decora
			margin-top 39px
		.doit
			margin-top 30px
		.idakoos
			margin-top 32px
		.dunk
			margin-top 40px
		.dvk
			margin-top 45px
		.intersport
			margin-top 28px







.section-comenzar
	margin 30px 0
	display inline-block
	width 100%
	h3
		font-family $fonttext_f2
		color $color_s
		font-size 45px
		margin 60px 0 20px 0
		text-align center
		padding 0 10%
	p
		text-align center
		width 100%
		display inline-block
		margin 30px 0 50px 0
		.btn-comenzar
			background #a6b739
			border-radius 5px
			color #fff
			padding 9px 50px 12px
			margin 0px
			font-size 22px
			font-family $fonttext_f2
			&:hover
				background #919b32





/*
@media (min-width:1200px)

@media (min-width:992px) and (max-width:1199px)
*/
@media (min-width:768px) and (max-width:991px)
	#content
		padding 85px 0 0
		.pagos
			h2
				width 100%
				margin 80px 0% 10px
		.slide
			margin 20px 0 0px 0
		.content_elements
			.title_section
				i
					width 20%
				b
					width 100%
				span
					width 20%

			.latest_design
				h2
					margin 0 0 10px


@media (max-width:767px)
	#content
		h1
			font-size 28px
			line-height 30px
			margin-bottom 15px
			margin-top 0px
			margin-bottom 0px
		strong
			font-size 18px
			line-height 20px
			margin-top 15px

		.pagos
			padding 0 0 10px
			h2
				margin 40px 0 10px
				width 100%
				font-size 26px
			strong
				font-size 18px
				margin-top 10px
				margin-bottom 10px

		.banner-clientes
			padding 35px 0 70px
			h2
				margin 16px 0 0px
				width 100%
				font-size 28px
				line-height 30px

			strong
				font-size 18px
				margin-top 10px
				margin-bottom 10px

		.caracteristicas
			h2
				margin 16px 0 0px
				width 100%
				font-size 28px
				line-height 30px

			strong
				font-size 18px
				margin-top 10px
				margin-bottom 10px
			p
				width 100%
				span
					margin 0

	.section-comenzar
		h3
			margin 16px 0 0px
			width 100%
			font-size 26px
			line-height 30px