$color_p = #a6b739
$color_s = #324158
$color_t = #6e7682
$color_f = #93a4b2
$color_b = #263142
$fonttext = 'Arial'
$fonttext_f1 ='Roboto Condensed''
$fonttext_f2 ='Roboto Condensed'
$fonttext_f3 ='Roboto Condensed''
$fonttext_o1 = 'Roboto Condensed'
$fonttext_o2 = 'Roboto Condensed'
$font_size_h1 = 25px
$font_size_h2 = 19px

/**TEMPORAL*/
.bredcrumb, .page_breadcrumb, .breadcrumb, .breadcrumbs
	margin-top 10px
	margin-bottom 10px
	display none

#content, .content
	padding 65px 0 0 0
	display inline-block
	width 100%
	//h1
		// font-family $fonttext_f2
		// text-align left
		// border-bottom none
		// text-transform none
		// font-size 0px
		// line-height 30px
		// margin 0px
		// padding 0px 0 0px 0
		// letter-spacing -1px
		// font-weight normal
		// height 0px

	h3
		font-size 40px
		font-family $fonttext_f2
		font-weight 100

		color $color_s
		margin 0 0 20px 0
	p
		font-size 17px
		font-family $fonttext_f2
		color $color_f
		text-align left
		margin 5px 0 15px
	b
		font-size 16px
		font-family $fonttext_f2
		color $color_p
		font-weight normal
		width 100%
		display inline-block
	span
		font-size 16px
		font-family $fonttext_f2
		color $color_p
		font-weight normal
	strong
		font-family $fonttext_o2
		font-size 16px
		margin-bottom 10px
		text-transform none
		color $color_s
		text-align left
	ul
		padding 0 0 0 0px
		li
			list-style none
			color $color_t


	.banner-funcionalidad
		position absolute
		left 0
		width 100%
		margin 45px 0 0
	.nav-submenu
		margin -1px 0 0
		display inline-block
		width 100%
		padding 10px 0 15px
		border-bottom 1px solid #ddd
		position fixed
		background #fff
		z-index 100
		left 0
		.navbar-header
			display none
		.navbar-default
			.navbar-nav
				li
					a
						font-size 16px
						font-family $fonttext_f2
						text-decoration none
						&:hover
							color $color_p
						&:focus
							color $color_p



	.content_funcionalidad
		margin 300px 0 0 0
		display inline-block
		width 100%
		.section_design
			margin 20px 0 70px 0
			display inline-block
			width 100%

		.section_content
			margin 50px 0 70px 0
			display inline-block
			width 100%
			img
				margin 20px 0 0 0
		.section_product
			margin 50px 0 70px 0
			display inline-block
			width 100%
			img
				margin 35px 0 0 0
		.section_reports
			margin 50px 0 70px 0
			display inline-block
			width 100%
			ul
				margin 10px 0 0 0
				li
					font-size 15px
					color $color_f
					line-height 23px
					i
						margin 0 10px 0 0
						color $color_p
			img
				margin 20px 0 0 0
		.section_commercial
			margin 50px 0 70px 0
			display inline-block
			width 100%
			strong
				margin 0
				padding 0
			p
				margin 0 0 5px 0
			b
				margin 7px 0 5px 0
			ul
				margin 10px 0
				li
					font-size 15px
					color $color_f
					line-height 23px
					margin 0 0 0 15px
					i
						margin 0 10px 0 0
						color $color_p
			ol
				list-style inside
				li
					font-size 15px
					color $color_f
					line-height 23px
					i
						margin 0 10px 0 0
						color $color_p



			img
				margin 150px 0 0 0
		.section_configuration
			margin 50px 0 70px 0
			display inline-block
			width 100%
			strong
				margin 0
				padding 0
			p
				margin 0 0 5px 0
			b
				margin 7px 0 5px 0
			ul
				margin 10px 0
				li
					font-size 15px
					color $color_f
					line-height 23px
					margin 0 0 0 15px
					i
						margin 0 10px 0 0
						color $color_p
			ol
				list-style inside
				li
					font-size 15px
					color $color_f
					line-height 23px
					i
						margin 0 10px 0 0
						color $color_p
			img
				margin 110px 0 0 0

		.section_seo
			margin 60px 0 70px 0
			display inline-block
			width 100%
			strong
				margin 0
				padding 0
			p
				margin 0 0 5px 0
			b
				margin 7px 0 5px 0
			ul
				margin 10px 0
				li
					font-size 15px
					color $color_f
					line-height 23px
					margin 0 0 0 15px
					i
						margin 0 10px 0 0
						color $color_p
			ol
				list-style inside
				li
					font-size 15px
					color $color_f
					line-height 23px
					i
						margin 0 10px 0 0
						color $color_p
			img
				margin 20px 0 0 0



		.section_comerciointer
			margin 70px 0 70px 0
			display inline-block
			width 100%
			strong
				margin 0
				padding 0
			p
				margin 0 0 5px 0
			b
				margin 7px 0 5px 0
			ul
				margin 10px 0
				li
					font-size 15px
					color $color_f
					line-height 23px
					margin 0 0 0 15px
					i
						margin 0 10px 0 0
						color $color_p
			ol
				list-style inside
				li
					font-size 15px
					color $color_f
					line-height 23px
					i
						margin 0 10px 0 0
						color $color_p
			img
				margin 20px 0 0 0


	.section-abrirtienda
		margin 0
		display inline-block
		width 100%
		//background $color_p
		h3
			font-family $fonttext_f2
			color $color_s
			font-size 40px
			margin 40px 0 0px 0
			text-align center
			padding 0 10%
		b
			text-align center
			font-size 25px
			color $color_t
		p
			text-align center
			width 100%
			display inline-block
			margin 20px 0 40px 0
			.btn-comenzar
				background $color_s
				border-radius 5px
				color #fff
				padding 9px 50px 12px
				margin 0px
				font-size 22px
				font-family $fonttext_f2
				&:hover
					background $color_t


	.section_form_cotiza
		margin 30px 0
		display inline-block
		h3
			font-size 40px
			text-align center
			display inline-block
			width 100%
			margin 30px 0 60px 0
		label
			font-size 16px
			font-weight normal
			color $color_s
		input[type="text"]
			height 32px
			margin 0 0 15px 0
		input[type="radio"]
			margin 0 7px 0 0
		select
			width 100%
			margin 5px 0 15px 0
			height 32px
		strong
			width 100%
			display inline-block
			margin 35px 0 25px 0
			text-align center
			font-size 25px
		.btn_cotiza
			background-color $color_p
			color #fff
			margin 20px 0
			line-height 22px
			padding 10px 20px 12px
			border-radius 5px !important
		.options_tienda
			margin 20px 0 0 0
			float left
			width 100%
		.format_numero
			width 50%
		.list_satisfaction
			margin 25px 0 85px 0
			ul
				li
					padding 0 0 0 35px
					margin 0 0 20px 115px
					height 23px
					font-size 18px
					line-height 20px
					text-align left
					vertical-align text-top
					span
						font-size 18px
						font-weight normal
						color $color_t
					i
						float left
						margin 0 10px 0 15px

		.ico-check
			background url(../../images/common/check.png) no-repeat 0 0
			width 21px
			height 21px
			display inline-block

		.img_store_respv
			display inline-block
			text-align right
			width 100%
			img
				display inline-block









.section-comenzar
	margin 30px 0
	display inline-block
	width 100%
	h3
		font-family $fonttext_f2
		color $color_s
		font-size 45px
		margin 60px 0 20px 0
		text-align center
		padding 0 10%
	p
		text-align center
		width 100%
		display inline-block
		margin 30px 0 50px 0
		.btn-comenzar
			background #a6b739
			border-radius 4px
			color #fff
			padding 9px 50px 12px
			margin 0px
			font-size 22px
			font-family $fonttext_f2
			&:hover
				background #919b32

.btn-comenzar
	background #a6b739
	border-radius 4px
	color #fff
	padding 7px 30px 9px
	margin 0px
	font-size 18px
	font-family $fonttext_f2
	&:hover
		background #919b32



@media (min-width:992px) and (max-width:1199px)
	#content
		.content_funcionalidad
			margin 180px 0 0 0




@media (min-width:768px) and (max-width:991px)
	#content
		padding 105px 0 0
		.content_funcionalidad
			margin 180px 0 0 0

@media (max-width:767px)
	.info_contact
		p
			span
				font-size 25px
	#content
		.cnt_about
			width 99%

