$color_p = #000
$color_s = #212121
$color_t = #3D3D3D
$color_f = #d7ab9e
$color_b = #797979
$color_int = #000
$color_title = #000
$fonttext = 'Arial'
$fonttext_f1 ='RobotoCondensed-Bold'
$fonttext_f2 ='RobotoCondensed-Regular'
$fonttext_f3 ='RobotoCondensed-Regular'
$fonttext_o1 = 'RobotoCondensed-Regular'
$fonttext_o2 = 'RobotoCondensed-Regular'
$font_size_h1 = 25px
$font_size_h2 = 19px

#content

.myaccount
	color #333
	h2
		border-bottom 2px solid #000
		color #000
		display block
		font-family $fonttext_o1
		font-size 40px
		font-weight normal
		letter-spacing -1px
		margin 0px 0 20px
		text-align left
		text-transform uppercase
		padding 0 0 8px 0
	.step
		display block
		float left
		width 100%
		margin 0 0 20px
		strong
			font-size 30px
			color $color_s
			font-weight normal
			width 100%
			float left
			margin 10px 0 15px 0
			span
				font-size 22px
				color $color_s
				font-weight normal
			.same_as
				margin 10px 12px 0 20px
				label
					font-size 14px
					color #333
					font-weight normal


		.shipping_addres
			label
				width 32%
				float left
				font-weight normal
			input[type='text']
				width 68%
				float left
				height 30px
				margin 0 0 10px 0
				border-radius 0px
				border 1px solid #CCCCCC
		.your_contact
			label
				width 32%
				float left
				font-weight normal
			input[type='text']
				width 68%
				float left
				height 30px
				margin 0 0 10px 0
				border-radius 0px
				border 1px solid #CCCCCC
		.payment_method
			label
				width 32%
				float left
				font-weight normal
			.img_payment_method
				width 68%
				float left
				height 50px
				margin 0 0 10px 0

  /* POSITION left */
	.myaccount_information
		.form_group
			border-radius  3px 3px 0px 0px
			-moz-border-radius  3px 3px 0px 0px
			-webkit-border-radius  3px 3px 0px 0px
			border 1px solid #e6e6e6
			background #e6e6e6
			padding 20px 26px
			margin 8px 0 40px
			.your_contact
				display inline-block
				margin 25px 0 0 0
				width 100%
				strong
					font-size 20px
					width 100%
					font-weight normal
					text-align left
					margin 0 0 15px 0
					display inline-block
					width 100%

			strong
				font-size 22px
				text-transform uppercase
				width 100%
				font-weight normal
				text-align left
				font-family $fonttext_o2
				color $color_title
			b
				font-weight normal
				font-size 17px
			p
				margin 0px
				font-size 17px
			a
				float left
				margin 10px 15px 10px 0
				color $color_int
				text-decoration underline
			.account_info
				margin 20px 0 0px
				display inline-block
				width 100%
				p
					margin 0px
				a
					margin 5px 0 0 0
					display block
			.shipping_item
				margin 20px 0 5px
				display inline-block
				width 100%
				p
					margin 0px
				a
					float left
					margin 10px 15px 10px 0

			.btn_pay
				width 100%
				height 40px
				font-size 19px
				margin 15px 0
				display inline-block
				background #df000c
				border 1px solid #df000c
				-webkit-box-shadow  0px 2px 0px 0px rgba(89,89,89,1)
				-moz-box-shadow  0px 2px 0px 0px rgba(89,89,89,1)
				box-shadow  0px 2px 0px 0px rgba(89,89,89,1)
				&:hover
					color #fff
					background #c00008
					border none

	.myaccount_lastorder
		margin 85px 0 0 0
		strong
			font-size 23px
			font-weight normal
			text-transform uppercase
			font-family $fonttext_o2


		.order
			border-top 1px solid #e6e6e6
			margin 10px 0 15px 0
			padding 15px 0
			b
				font-size 20px
				font-weight normal
				font-family $fonttext_o1
				margin 0 0 10px 0
				display block
			p
				margin 0px
				color $color_t
				font-size 15px
				span
					width 80px
					display block
					float left
					font-size
					font-family $fonttext_o2
				strong
					color $color_int
					font-size 15px
					font-weight normal


			.options_order
				display block
				margin 18px 0 0 0
				.btn-view
					padding 5px 20px 2px
					font-size 17px
					margin 0 10px 0 0
					color #fff
					border 1px solid #999
					background #999
					&:hover
						background #000
						border 1px solid #000
				.btn-pay
					padding 5px 20px 2px
					font-size 17px
					background $color_title
					border 1px solid $color_title
					&:hover
						background #000
						border 1px solid #000

			.product
				margin 5px 0 20px 0
				display inline-block
				width 100%
				.img_prod
					padding 5px 0 0 0px
				.prod_info
					strong
						font-size 18px
						margin 10px 0 5px 0
						display block
						line-height 22px
						color #333

					p
						color #000
						margin 0 0 0px 0
						display block
						span
							color #888888
							width auto
							margin 0 7px 0 0





//@media (min-width:992px) and (max-width:1199px)


@media (min-width:768px) and (max-width:991px)
	.myaccount_information
		.form_group
			width 95%
	.myaccount_lastorder
		margin 0

@media (max-width:767px)
	.myaccount_information
		.form_group
			margin 8px 0 20px

	.myaccount_lastorder
		.order
			.product
				.img_prod
					padding 25px 0 0
				.prod_info
					strong
						margin 20px 0 5px