$color_p = #000
$color_s = #212121
$color_t = #3D3D3D
$color_f = #d7ab9e
$color_b = #797979
$color_int = #000
$color_title = #000
$fonttext = 'Arial'
$fonttext_f1 ='RobotoCondensed-Bold'
$fonttext_f2 ='RobotoCondensed-Regular'
$fonttext_f3 ='RobotoCondensed-Regular'
$fonttext_o1 = 'RobotoCondensed-Regular'
$fonttext_o2 = 'RobotoCondensed-Regular'
$font_size_h1 = 25px
$font_size_h2 = 19px

.order_detail
	color #333
	h2
		color #333
		font-size 22px
		text-align left
		padding 0 0 5px 0
		letter-spacing -1px
		margin 5px 0 5px
		font-weight normal
		width 100%
		float left
	.to_order, .from_order, .your_order, .payment_method
		margin 20px 0 20px
		/*border-left 1px solid #e1e1e1
		padding 0 0 0 30px*/
		strong
			font-size 30px
			color $color_s
			font-weight normal
			width 100%
			float left
			margin 10px 0 10px 0
			span
				font-size 18px
				color #333
				font-weight normal
		p
			margin 0 0 2px 0
			display inline-block
			width 100%

			span
				width 150px
				float left
			small
				width auto
				float left
				font-size 14px
				font-weight bold

	.payment_method
		.payment_method_order
			height 50px
			display block
			width 100%
			margin 0 0 -4px 0
	.paymeans_btn
		text-align center
		display inline-block
		margin 35px 0 0 0
		.button_paynow
			padding 8px 55px
			background #c00008
			border 1px solid #c00008

/*

.idk_prcs_orders .order_detail_info
{
    display: block;
    margin: 10px 0 20px;
}

.idk_prcs_orders .order_detail_info span
{
    display: block;
    width: 100%;
}
*/



	.product_list
		margin 45px 0 0 0
		display block

		.row_header
			border-bottom  1px solid #dde0e2
			margin  -12px 0 0px 0
			padding  0 0 5px 0
			.title
				font-size 13px
				width 100%
				text-align left
				display block
				font-weight bold
			.title_right
				text-align right
				font-size 13px
				width 100%
				display block
				font-weight bold

		.row_item
			display block
			padding 10px 0 0 0
			border-bottom 1px solid #dde0e2
			p
				font-size 14px
				margin 0 0 7px 0

			.item_qty
				width 100%
				text-align center
				display block
				input
					width 50px
					border  1px solid #dde0e2
					text-align  center
					color  #999
					font-size  13px
					padding  2px 0px
				span
					color: #EF8703;
					font-weight: bold;
					line-height: 15px;
					font-size: 12px;
					margin: 10px 0 0 0;
					width: 100%;
					float: left;


			.item_price
				width 100%
				text-align right
				display block
				span
					color #991010
					font-size 15px
					font-weight bold
			.item_subtotal
				width 100%
				text-align right
				display block
				span
					color #991010
					font-size 15px
					font-weight bold
		.saved
			border-top 1px solid #dde0e2
			border-bottom none


	.summary_orderdetail
		hr
			border-top 1px solid #dde0e2


		.summary
			margin 25px 0 0 0
			display block
			p
				span
					font-size 15px
					color
			.item_subtotal, .item_ship, .item_tax, .item_total
				b
					float right
			.item_ship
				color $color_s
			.item_total
				color $color_p
				font-weight bold
				font-size 18px
				span
					font-size 17px






@media (max-width:767px)
	.summary_orderdetail
		background #f1f1f1
		padding-bottom 15px
		hr
			border-top 1px solid #fff
