@import 'variables'

#content
	padding 0px 0 0 0
	display inline-block
	width 100%
	h1
		display none
	strong
		font-family $fonttext_o2
		font-size 16px
		margin-bottom 10px
		text-transform none
		color $color_s
		text-align left
	ul
		padding 0 0 0 0px
		li
			list-style none
			color $color_t

	.register_join
		display inlile-block
		margin 0
		width 100%
		h1
			color $color_p
			display block
			font-family $fonttext_o1
			font-size $font_size_h1
			font-weight normal
			letter-spacing -1px
			margin 0px 0 10px
			text-align left
			text-transform none
			padding 0
			border-bottom none
		.col-md-15, .col-lg-15
			display none !important
		.col-md-30, .col-lg-30
			width 100% !important
		.social_login
			display block
			width 80%
			margin 0 auto
			text-align left
			.btn-facebook
				padding 6px 4%
				margin 0 2% 0 0
				.ico-facebook
					width 19px
					height 24px
					float left
					margin 0 12px 0 0
					padding 0 5px 0 0
				span
					float left
					margin 3px 0 0 0
			.btn-google
				padding 6px 4%
				.ico-gplus
					width 32px
					height 24px
					float left
					margin 0 12px 0 0
					padding 0 5px 0 0
				span
					float left
					margin 3px 0 0 0
		.line
			display block
			width 75%
			margin 25px auto 0 auto
			span
				border-bottom 1px solid #E6E6E6
				float left
				width 45%
				padding 15px 0 0 0
			b
				float left
				width 10%
				text-align left
				font-size 20px
				font-weight normal
				color #999
		.form-group
			display block
			margin 0
			clear both
			padding 15px 0 0 0
			width 50%
			input
				border-radius 0px
				margin 0 0 15px 0
				border 1px solid #cccccc
			label
				display block
				font-size 14px
				color $color_t
				font-weight normal
			.nickname
				width 100%
		.captcha
			input
				width 180px
				float right
				margin 5px 0 0 25px
				height 35px

		.form_btn
				display block
				text-align left
				margin 50px 0 40px 0
				height auto
				padding	5px 0px

				.btn_signin
					font-size 22px
					font-family $fonttext_o1
					text-transform none
					padding 5px 20px 5px
					border-radius 0px 0px 0px 0px
					-moz-border-radius 0px 0px 0px 0px
					-webkit-border-radius 0px 0px 0px 0px
					background $color_p
					&:hover
						background $color_b
						border-color $color_b
				p
					margin 15px 0 0 0
					display block
					color $color_p
					font-size 13px
					a
						color $color_p
						font-family $fonttext_o1

	.registered_wrapper
		.jumbotron
			background none
			h1
				font-family $fonttext_o1
				text-align left
				border-bottom 0px
				text-transform uppercase
				font-size $font_size_h1
				color $color_p
				line-height 40px
				margin 20px 10px 40px 0px
				padding 0px 0 10px 0
				letter-spacing -1px
				border-bottom 1px solid $color_p
			p
				a
					color $color_title



	.section_form_cotiza
		margin 30px 0
		display inline-block
		h3
			font-size 40px
			text-align center
			display inline-block
			width 100%
			margin 30px 0 60px 0
		label
			font-size 14px
			font-weight normal
			color $color_s
		input[type="text"]
			height 32px
			margin 0 0 15px 0
		input[type="radio"]
			margin 0 7px 0 0
		select
			width 100%
			margin 5px 0 15px 0
			height 32px
		strong
			width 100%
			display inline-block
			margin 40px 0 25px 0
			text-align center
			font-size 20px
		.btn_cotiza
			background-color $color_p
			color #fff
			margin 20px 0
			line-height 22px
			padding 10px 20px 12px
			border-radius 5px !important
		.options_tienda
			margin 20px 0 0 0
			float left
			width 100%
		.format_numero
			width 50%
		.list_satisfaction
			margin 25px 0 85px 0
			ul
				li
					padding 0 0 0 0px
					margin 0 0 20px 40px
					height 23px
					font-size 18px
					line-height 20px
					text-align left
					vertical-align text-top
					span
						font-size 16px
						font-weight normal
						color $color_t
					i
						float left
						margin 0 10px 0 15px

		.ico-check
			background url(../../images/common/check.png) no-repeat 0 0
			width 21px
			height 21px
			display inline-block

		.img_store_respv
			display inline-block
			text-align right
			width 100%
			img
				display inline-block






.section-comenzar
	margin 30px 0
	display inline-block
	width 100%
	h3
		font-family $fonttext_f2
		color $color_s
		font-size 45px
		margin 60px 0 20px 0
		text-align center
		padding 0 10%
	p
		text-align center
		width 100%
		display inline-block
		margin 30px 0 50px 0
		.btn-comenzar
			background #a6b739
			border-radius 4px
			color #fff
			padding 9px 50px 12px
			margin 0px
			font-size 22px
			font-family $fonttext_f2
			&:hover
				background #919b32


.reclamations
	display inline-block
	margin 0
	width 100%
	h1
		border-bottom 1px solid #ddd
		color #000
		display block
		font-family $fonttext_f2
		font-size 20px
		margin 0px 0 0px
		text-align left
		text-transform none
		padding 0 0 0px 0
	h3
		display inline-block
		width 100%
		margin 15px 0 10px 0
		font-size 18px


	.form-group
		display block
		margin 0
		clear both
		padding 15px 0 0 0
		width 70%
		input
			border-radius 0px
			margin 0 0 15px 0
			border 1px solid #cccccc
			display inline-block
			height 30px
		label
			display inline-block
			font-size 13px
			color $color_title
			font-weight normal
			font-family $fonttext_f3

		.indentify
			width 100%
			display inline-block
			margin 5px 0 20px 0
			font-family $fonttext_f3
			input[type="radio"]
				margin 0 5px 0 0
				float left
			input[type="checkbox"]
				margin 0 15px 0 0
				float left
				height 22px
			label
				margin 0 40px 0 0
				float left
				padding-top 5px
		.box
			display inline-block
			width 100%
			margin 0 0 20px 0
			label
				float left
				width 22%
				clear both
				padding 0 2% 0 0
			input[type="text"]
				float left
				width 76%
			select
				float left
				width 76%
				margin 0 0 15px
				height 30px

			input[type="checkbox"], input[type="radio"], textarea
				float left
			textarea
				margin 0 0 20px 0
				width 75%
			#cmb_day, #cmb_mnth, #cmb_year
				width 15%
				margin-right 15px


	.form_btn
		.btn-action
			padding-left 45px
			padding-right 45px
			padding-bottom 8px
			padding-top 8px
			background $color_boton_primario
			text-align center
			font-size 16px
			font-family $fonttext_f2
			letter-spacing -1px
			text-transform uppercase
			&:hover
				background $color_boton_primario_hover



@media (min-width:992px) and (max-width:1199px)
	.register_join
		.social_login
			width 100%
	#content
		.section_form_cotiza
				.list_satisfaction
					ul
						li
							margin 0 0 20px 0px
							padding 0 0 0 10px

@media (min-width:768px) and (max-width:991px)
	.register_join
		.social_login
			.btn-facebook
				margin 0 15px 0 0
	#content
		.section_form_cotiza
			.list_satisfaction
				margin 50px 0
				ul
					li
						margin 0 0 20px 0px
						padding 0 0 0 0px
			.img_store_respv
				display inline-block
				text-align center


@media (max-width:767px)
	#content
		.register_join
			.form-group
				width 100%

			.captcha
				input
					width 100%
					float none
					margin 5px 0 0 0
				div
					span
						width 49% !important
						margin 5px 3px 5px 0 !important

		.section_form_cotiza
			margin 0px
			h3
				margin 0 0 25px 0
				font-size 30px
			.list_satisfaction
				margin 50px 0
				ul
					li
						margin 0 0 20px 0px
						padding 0 0 0 0px
						height auto
						i
							margin 0 7px 0 0
						span
							font-size 16px
			.img_store_respv
				display inline-block
				text-align center