$color_p = #000
$color_s = #212121
$color_t = #3D3D3D
$color_f = #d7ab9e
$color_b = #797979
$color_int = #000
$color_title = #000
$fonttext = 'Arial'
$fonttext_f1 ='RobotoCondensed-Bold'
$fonttext_f2 ='RobotoCondensed-Regular'
$fonttext_f3 ='RobotoCondensed-Regular'
$fonttext_o1 = 'RobotoCondensed-Regular'
$fonttext_o2 = 'RobotoCondensed-Regular'
$font_size_h1 = 25px
$font_size_h2 = 19px

.signin
	display inline-block
	width 100%
	margin 110px 0 120px 0
	.signin_left
		.social_login
			display block
			width 80%
			margin 0 auto
			text-align center
			.btn-facebook
				padding 6px 4%
				margin 0 2% 0 0
				.ico-facebook
					width 19px
					height 24px
					float left
					margin 0 12px 0 0
					padding 0 5px 0 0
				span
					float left
					margin 3px 0 0 0
			.btn-google
				padding 6px 4%
				.ico-gplus
					width 32px
					height 24px
					float left
					margin 0 12px 0 0
					padding 0 5px 0 0
				span
					float left
					margin 3px 0 0 0
		.line
			display block
			width 75%
			margin 25px auto 0 auto
			span
				border-bottom 1px solid #E6E6E6
				float left
				width 45%
				padding 15px 0 0 0
			b
				float left
				width 10%
				text-align center
				font-size 20px
				font-weight normal
				color #999
		.form-group
			display block
			width 70%
			margin 0
			clear both
			padding 15px 0 0 0
			input
				border-radius 0px
				margin 0 0 25px 0
				border 1px solid #cccccc
				padding 4px 10px
				height auto
				background transparent
			label
				display block
				font-size 14px
				color $color_p
				font-weight normal
				font-family $fonttext_o2
			.nickname
				width 100%

	.form_btn
		display block
		margin 30px 0 20px 0
		.btn_signin
			font-size 22px
			font-family $fonttext_o1
			text-transform none
			padding 5px 20px 5px
			border-radius 0px 0px 0px 0px
			-moz-border-radius 0px 0px 0px 0px
			-webkit-border-radius 0px 0px 0px 0px
			background $color_p
			&:hover
				background $color_b
				border-color $color_b
		a
			margin 10px 0 0 0
			display block
			color #333

	.text-center
		text-align left
		font-family $fonttext_o2
		font-size 13px
		color $color_p
		a
			color $color_p
			font-family $fonttext_o1

	.signin_right
		border-left 1px solid #000
		padding 0 0 0 30px
		.register
			display block
			strong
				font-size 25px
				width 100%
				font-weight normal
				text-align left
				display block
				margin 0
				font-family $fonttext_o1
				color $color_title
				text-transform none
			ul
				list-style none
				margin 15px 0 0 0
				padding 0px
				li
					font-size 14px
					font-family $fonttext_o2
					color $color_p
			p
				font-size 17px
				color $color_p
				text-align left
				margin 27px 0 0px 0
				font-family $fonttext_o2
				text-transform none
				br
					display none



/**MEDIA QUERYS*/
@media (min-width:1367px) and (max-width:1950px)
	.signin
		margin 174px 0 200px 0




@media (min-width:992px) and (max-width:1199px)
	.signin
		.signin_left
			.social_login
				width 100%


@media (min-width:768px) and (max-width:991px)
	.signin
		.signin_left
			.social_login
				.btn-facebook
					margin 0 0 15px 0




@media (max-width:767px)
	.signin
		margin 50px 0 70px
		.signin_left
			.social_login
				.btn-facebook
					margin 0 0 15px 0
			.form-group
				width 100%


		.signin_right
			padding 50px 0 0 10px
			border-top 1px solid #000
			margin 50px 0 0 0
			.register
				strong
					font-size 23px
				ul
					margin 25px 0 0 0px

